#ncu-horizontal-tiles .tiles-row .card .title {
    font-size: 1vw;
    font-weight: normal;
    padding: 0 10px;
    color: #d9d9d9;
    text-align: center;
    /* font-family: Bahnschrift; */
}

#ncu-horizontal-tiles .card {
    background-color: #26293c;
    padding: 10px 6px;
    border-radius: 10px;
}

#ncu-horizontal-tiles .tiles-row .card .body .count {
    text-align: center;
    font-size: 1.5vw;
    color: #f2f2f2;
    font-weight: 700;
    font-family: Bahnschrift Light;
    padding: 0.48vw;
}

#ncu-horizontal-tiles .tiles-row .card .card-body .count {
    color: #f2f2f2;
    font-weight: 700;
    font-size: 2vw;
    text-align: center;
}

#ncu-horizontal-tiles .main-title {
    font-size: 0.9vw;
    text-align: center;
    color: #d9d9d9;
}

#ncu-horizontal-tiles .card .body .donut {
    height: 7vw;
}

#zingChart-wrapper {
    padding-top: 68px;
}

#zingChart-wrapper,
#zingChart-top {
    height: 85px !important;
}

#ncu-horizontal-tiles .footer .deviation .label,
#ncu-horizontal-tiles .footer .actual .label {
    font-weight: normal;
    color: #d9d9d9;
    font-size: 0.9vw;
}

#ncu-horizontal-tiles .footer .deviation .label {
    font-size: 1vw;
    padding: 0;
}

#ncu-horizontal-tiles .footer .actual .label {
    padding: 0;
}

#ncu-horizontal-tiles .footer .deviation .count,
#ncu-horizontal-tiles .footer .actual .count {
    font-size: 0.7vw;
    color: #f2f2f2;
    margin-top: 0.1vw;
}

#ncu-horizontal-tiles table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-family: Yu Gothic UI Semibold;
    line-height: 1.12;
}

#ncu-horizontal-tiles td {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 0.55vw 0.2vw;
    color: #f2f2f2;
    font-size: 1vw;
}

#ncu-horizontal-tiles th {
    padding: 0.5vw;
    background-color: #442266;
    font-size: 1.1vw;
    color: #d9d9d9;
    font-weight: normal;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#ncu-horizontal-tiles table td:nth-child(1) {
    color: #d9d9d9;
    text-align: start;
}

#ncu-horizontal-tiles table tr:last-child td {
    border-bottom: 0;
}

#ncu-horizontal-tiles td.positive {
    color: #00aa55;
}

#ncu-horizontal-tiles td.negative {
    color: #ff0000;
}

#ncu-horizontal-tiles .airtable-body {
    line-height: 1.208571;
}

#ncu-horizontal-tiles .mwhcard {
    line-height: 1.3;
}


#ncu-horizontal-tiles .chart-legends .legend {
    /* padding: 5px 0px; */
    display: inline-block;
    PADDING-BOTTOM: 0;
}

#ncu-horizontal-tiles .chart-legends .legend .legend-circle {
    height: 0.7vw;
    width: 0.7vw;
    border-radius: 0.4vw;
    display: inline-block;
}

#ncu-horizontal-tiles .chart-legends .legend .legend-circle.legend-pink {
    background-color: #d944b4;
}

#ncu-horizontal-tiles .chart-legends .legend .legend-circle.legend-solid {
    background-color: #ffa600;
}

#ncu-horizontal-tiles .chart-legends .legend .legend-circle.legend-liquid {
    background-color: #00aa7e;
}

#ncu-horizontal-tiles .chart-legends .legend .legend-circle.legend-gas {
    background-color: #005374;
}

#ncu-horizontal-tiles .chart-legends .legend .legend-text {
    color: #d9d9d9;
    padding-left: 0.2vw;
    font-size: 0.8vw;
    padding-right: 0.6vw;
}

#ncu-horizontal-tiles .gap {
    padding-top: 1vw;
    text-align: center;
}

#ncu-horizontal-tiles .col-ti {
    font-size: 0.9vw;
}

#ncu-horizontal-tiles .footer {
    padding: 0.1vw;
}

#ncu-horizontal-tiles input[type=radio] {
    height: 0.7vw;
    margin: 0.2vw 0.2vw;
}

#ncu-horizontal-tiles .lebel-style {
    display: inline-block;
    font-size: 0.9vw;
    color: #d9d9d9;
    /* font-family: Bahnschrift; */
    font-weight: 100;
}

/* scroll */
#ncu-horizontal-tiles .overflow {
    overflow: auto;
}

#ncu-horizontal-tiles .genratorsHeight {
    height: 12.5vw;
}

#ncu-horizontal-tiles .genratorsHeight-1 {
    height: 10.3vw
}

#ncu-horizontal-tiles .scroll {
    width: 40%;
    overflow: auto;
}

#ncu-horizontal-tiles ::-webkit-scrollbar {
    width: 0.3vw;
    height: 1.3vw;
}

#ncu-horizontal-tiles ::-webkit-scrollbar-track {
    border: 1px solid #262A3C;
    border-radius: 15px;
}

#ncu-horizontal-tiles ::-webkit-scrollbar-thumb {
    background: #8d8a95;
    border-radius: 15px;
}

#ncu-horizontal-tiles ::-webkit-scrollbar-thumb:hover {
    background: #8d8a95;
}