<link rel="stylesheet" href="/../templates/tps-overview/equipment-efficiency/equipment-efficiency.css" />
<script src="/../templates/tps-overview/equipment-efficiency/euipment-efficiency.js"></script>


<!-- <div class="row"> -->
    <div class="col-md-12 equipment-efficiency-tab ope1">
        <!-- <div class="col-md-12"> -->
            <div class="card">
                <div class="row">
                    <div class="col-md-5">
                        <div class="title" id="equipment-efficiency-title">
    
                        </div>
                    </div>
                    
                    <div class="col-md-7">
                        <div class="row circular pull-right">
                            <ul class="nav nav-tabs number-tabs" role="tablist" id="equipment-tab">
                                <li role="presentation" class="active"><a href="#Boiler" aria-controls="Boiler" role="tab" data-toggle="tab">Boiler</a></li>
                                <li role="presentation"><a href="#ST" aria-controls="ST" role="tab" data-toggle="tab">ST</a></li>
                                <li role="presentation"><a href="#GT" aria-controls="GT" role="tab" data-toggle="tab">GT</a></li>
                                <li role="presentation"><a href="#HRSG" aria-controls="HRSG" role="tab" data-toggle="tab">HRSG</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="row"> -->
                    <!-- <div class="col-md-12"> -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="Boiler">
                                Boiler
                            </div>
                            <div role="tabpanel" class="tab-pane" id="ST">
                                ST
                            </div>
                            <div role="tabpanel" class="tab-pane" id="GT">
                                GT
                            </div>
                            <div role="tabpanel" class="tab-pane" id="HRSG">
                                HRSG
                            </div>
                        </div>
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        <!-- </div> -->
    </div>
<!-- </div> -->
