<script src="./../../../templates/ncu-unit-overview/ncu-convection-section/ncu-convection-section.js"></script>
<link rel="stylesheet" href="./../../../templates/ncu-unit-overview/ncu-convection-section/ncu-convection-section.css">
<div class="row">
    <div class="title">
        <span class="ncu-heading"> Convection Section</span>
        <select name="NCUA" id="NCUA">
            <option value="H-200"> H-200</option>
            <option value="H-300">H-300</option>
            <option value="H-400"> H-400</option>
            <option value="H-500">H-500</option>
            <option value="H-600">H-600</option>
            <option value="H-700"> H-700</option>
        </select>
    </div>

</div>

<div class="col-md-12 mt-14">
    <div class="col-md-8 pl-0" style="border-right: 0.25vw solid #585a64;">
        <div class="line">
            <div class="body">
                <table id="Equipment_table">
                    <tr>
                        <th>KPI</th>
                        <th>UFP</th>
                        <th>BFP</th>
                        <th>LFP</th>
                        <th>DSSH</th>
                        <th>UMP</th>
                        <th>USSH</th>
                        <th>LSSH</th>
                        <th>LMP</th>
                    </tr>
                    <tr>
                        <td> Avg. Temperature IN </td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                    </tr>
                    <tr>
                        <td>Avg. Temperature OUT</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                    </tr>
                    <tr>
                        <td>% Heat Recovery compared<br> to design</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="line mt-14">
            <div class="title-1">
                <!-- <div class="col-md-6"> -->
                <div class="line pull-left">
                    <select name="dropvalue" id="dropvalue">
                        <option value="UFP"> UFP</option>
                        <option value="BFP">BFP</option>
                        <option value="LFP">LFP</option>
                        <option value="DSSH">DSSH</option>
                        <option value="UMP">UMP</option>
                        <option value="USSH">USSH</option>
                        <option value="LSSH">LSSH</option>
                        <option value="LMP">LMP</option>
                    </select>
                    <span class="actbox"> </span>
                    <span class="leg"> T IN </span>

                    <span class="refbox"> </span>
                    <span class="leg"> T OUT </span>

                    <div class="box-eff box1-blue"></div>
                    <span class="leg"> % Heat Recovery(Actual/Design)
                    </span>
                </div>
                <!-- </div>
                <div class="col-md-6"> -->
                <div class="line pull-right">

                    <input type="datetime-local" id="nccuconvfromFccu" name="nccuconvfromFccu">

                    <input type="datetime-local" id="nccuconvoveralldate" name="nccuconvoveralldate">
                </div>


                <!-- </div> -->
            </div>
            <div class="body mt-10">
                <div class="count-line">
                    <div id="NCU-chart-container" style="height: 20vh;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-tb">
        <span class="ncu-headline">Schematics(% Heat Recovery Compared To Design)</span>
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="120mm" height="75mm"
            viewBox="45 75 210 80" version="1.1" id="svg8" sodipodi:docname="PNCSVG1.svg"
            inkscape:version="1.0.2-2 (e86c870879, 2021-01-15)">
            <defs id="defs2">
                <marker style="overflow:visible" id="marker2011" refX="0.0" refY="0.0" orient="auto"
                    inkscape:stockid="DotM" inkscape:isstock="true">
                    <path transform="scale(0.4) translate(7.4, 1)"
                        style="fill-rule:evenodd;stroke:#cccccc;stroke-width:1pt;stroke-opacity:1;fill:#cccccc;fill-opacity:1"
                        d="M -2.5,-1.0 C -2.5,1.7600000 -4.7400000,4.0 -7.5,4.0 C -10.260000,4.0 -12.5,1.7600000 -12.5,-1.0 C -12.5,-3.7600000 -10.260000,-6.0 -7.5,-6.0 C -4.7400000,-6.0 -2.5,-3.7600000 -2.5,-1.0 z "
                        id="path2009" />
                </marker>
                <marker style="overflow:visible" id="marker1935" refX="0.0" refY="0.0" orient="auto"
                    inkscape:stockid="DotM" inkscape:isstock="true" inkscape:collect="always">
                    <path transform="scale(0.4) translate(7.4, 1)"
                        style="fill-rule:evenodd;stroke:#cccccc;stroke-width:1pt;stroke-opacity:1;fill:#cccccc;fill-opacity:1"
                        d="M -2.5,-1.0 C -2.5,1.7600000 -4.7400000,4.0 -7.5,4.0 C -10.260000,4.0 -12.5,1.7600000 -12.5,-1.0 C -12.5,-3.7600000 -10.260000,-6.0 -7.5,-6.0 C -4.7400000,-6.0 -2.5,-3.7600000 -2.5,-1.0 z "
                        id="path1933" />
                </marker>
                <marker style="overflow:visible" id="marker1865" refX="0.0" refY="0.0" orient="auto"
                    inkscape:stockid="DotM" inkscape:isstock="true" inkscape:collect="always">
                    <path transform="scale(0.4) translate(7.4, 1)"
                        style="fill-rule:evenodd;stroke:#cccccc;stroke-width:1pt;stroke-opacity:1;fill:#cccccc;fill-opacity:1"
                        d="M -2.5,-1.0 C -2.5,1.7600000 -4.7400000,4.0 -7.5,4.0 C -10.260000,4.0 -12.5,1.7600000 -12.5,-1.0 C -12.5,-3.7600000 -10.260000,-6.0 -7.5,-6.0 C -4.7400000,-6.0 -2.5,-3.7600000 -2.5,-1.0 z "
                        id="path1863" />
                </marker>
                <marker style="overflow:visible" id="marker1801" refX="0.0" refY="0.0" orient="auto"
                    inkscape:stockid="DotM" inkscape:isstock="true" inkscape:collect="always">
                    <path transform="scale(0.4) translate(7.4, 1)"
                        style="fill-rule:evenodd;stroke:#cccccc;stroke-width:1pt;stroke-opacity:1;fill:#cccccc;fill-opacity:1"
                        d="M -2.5,-1.0 C -2.5,1.7600000 -4.7400000,4.0 -7.5,4.0 C -10.260000,4.0 -12.5,1.7600000 -12.5,-1.0 C -12.5,-3.7600000 -10.260000,-6.0 -7.5,-6.0 C -4.7400000,-6.0 -2.5,-3.7600000 -2.5,-1.0 z "
                        id="path1799" />
                </marker>
                <marker style="overflow:visible" id="marker1743" refX="0.0" refY="0.0" orient="auto"
                    inkscape:stockid="DotM" inkscape:isstock="true" inkscape:collect="always">
                    <path transform="scale(0.4) translate(7.4, 1)"
                        style="fill-rule:evenodd;stroke:#cccccc;stroke-width:1pt;stroke-opacity:1;fill:#cccccc;fill-opacity:1"
                        d="M -2.5,-1.0 C -2.5,1.7600000 -4.7400000,4.0 -7.5,4.0 C -10.260000,4.0 -12.5,1.7600000 -12.5,-1.0 C -12.5,-3.7600000 -10.260000,-6.0 -7.5,-6.0 C -4.7400000,-6.0 -2.5,-3.7600000 -2.5,-1.0 z "
                        id="path1741" />
                </marker>
                <marker style="overflow:visible" id="marker1679" refX="0.0" refY="0.0" orient="auto"
                    inkscape:stockid="DotM" inkscape:isstock="true">
                    <path transform="scale(0.4) translate(7.4, 1)"
                        style="fill-rule:evenodd;stroke:#cccccc;stroke-width:1pt;stroke-opacity:1;fill:#cccccc;fill-opacity:1"
                        d="M -2.5,-1.0 C -2.5,1.7600000 -4.7400000,4.0 -7.5,4.0 C -10.260000,4.0 -12.5,1.7600000 -12.5,-1.0 C -12.5,-3.7600000 -10.260000,-6.0 -7.5,-6.0 C -4.7400000,-6.0 -2.5,-3.7600000 -2.5,-1.0 z "
                        id="path1677" />
                </marker>
                <marker style="overflow:visible" id="marker1621" refX="0.0" refY="0.0" orient="auto"
                    inkscape:stockid="DotM" inkscape:isstock="true">
                    <path transform="scale(0.4) translate(7.4, 1)"
                        style="fill-rule:evenodd;stroke:#cccccc;stroke-width:1pt;stroke-opacity:1;fill:#cccccc;fill-opacity:1"
                        d="M -2.5,-1.0 C -2.5,1.7600000 -4.7400000,4.0 -7.5,4.0 C -10.260000,4.0 -12.5,1.7600000 -12.5,-1.0 C -12.5,-3.7600000 -10.260000,-6.0 -7.5,-6.0 C -4.7400000,-6.0 -2.5,-3.7600000 -2.5,-1.0 z "
                        id="path1619" />
                </marker>
                <marker style="overflow:visible" id="DotS" refX="0.0" refY="0.0" orient="auto" inkscape:stockid="DotS"
                    inkscape:isstock="true">
                    <path transform="scale(0.2) translate(7.4, 1)"
                        style="fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1;fill:#000000;fill-opacity:1"
                        d="M -2.5,-1.0 C -2.5,1.7600000 -4.7400000,4.0 -7.5,4.0 C -10.260000,4.0 -12.5,1.7600000 -12.5,-1.0 C -12.5,-3.7600000 -10.260000,-6.0 -7.5,-6.0 C -4.7400000,-6.0 -2.5,-3.7600000 -2.5,-1.0 z "
                        id="path1268" />
                </marker>
                <marker style="overflow:visible" id="DotM" refX="0.0" refY="0.0" orient="auto" inkscape:stockid="DotM"
                    inkscape:isstock="true" inkscape:collect="always">
                    <path transform="scale(0.4) translate(7.4, 1)"
                        style="fill-rule:evenodd;stroke:#cccccc;stroke-width:1pt;stroke-opacity:1;fill:#cccccc;fill-opacity:1"
                        d="M -2.5,-1.0 C -2.5,1.7600000 -4.7400000,4.0 -7.5,4.0 C -10.260000,4.0 -12.5,1.7600000 -12.5,-1.0 C -12.5,-3.7600000 -10.260000,-6.0 -7.5,-6.0 C -4.7400000,-6.0 -2.5,-3.7600000 -2.5,-1.0 z "
                        id="path1265" />
                </marker>
                <marker style="overflow:visible" id="DotL" refX="0.0" refY="0.0" orient="auto" inkscape:stockid="DotL"
                    inkscape:isstock="true">
                    <path transform="scale(0.8) translate(7.4, 1)"
                        style="fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1;fill:#000000;fill-opacity:1"
                        d="M -2.5,-1.0 C -2.5,1.7600000 -4.7400000,4.0 -7.5,4.0 C -10.260000,4.0 -12.5,1.7600000 -12.5,-1.0 C -12.5,-3.7600000 -10.260000,-6.0 -7.5,-6.0 C -4.7400000,-6.0 -2.5,-3.7600000 -2.5,-1.0 z "
                        id="path1262" />
                </marker>
            </defs>
            <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0"
                inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="1.4" inkscape:cx="496.65688"
                inkscape:cy="439.64621" inkscape:document-units="mm" inkscape:current-layer="layer1"
                inkscape:document-rotation="0" showgrid="true" inkscape:window-width="1920" inkscape:window-height="991"
                inkscape:window-x="-9" inkscape:window-y="-9" inkscape:window-maximized="1">
                <inkscape:grid type="xygrid" id="grid10" />
            </sodipodi:namedview>
            <metadata id="metadata5">
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                        <dc:title />
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1">
                <path
                    style="fill:none;stroke:#cccccc;stroke-width:1.065;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
                    d="m 197.37916,78.052082 h 2.11667 l 14.55208,-9.260416 V 54.239583 h 23.01875 V 173.30208 H 178.59375 V 158.75 l 18.52083,-14.55209 z"
                    id="path50" />
                <path
                    style="fill:none;stroke:#cccccc;stroke-width:1.08811;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#marker1621)"
                    d="m 116.41667,63.5 h 70.02594 l -0.5536,19.801855 h 21.03547 v 0 0" id="path889" />
                <path
                    style="fill:none;stroke:#cccccc;stroke-width:1.08347;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#marker1679)"
                    d="m 116.41667,76.209228 h 61.01775 v 13.707264 h 28.85972" id="path905" />
                <path
                    style="fill:none;stroke:#cccccc;stroke-width:1.07806;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#DotM)"
                    d="m 116.41668,91.552368 h 54.59604 v 5.255514 h 35.48748" id="path921" />
                <path
                    style="fill:none;stroke:#cccccc;stroke-width:1.08386;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#marker1743)"
                    d="m 116.41667,106.62166 h 54.05302 v -2.61576 h 36.0353 v 0 0 0" id="path937" />
                <path
                    style="fill:none;stroke:#cccccc;stroke-width:1.08765;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#marker1801)"
                    d="m 116.41667,120.64272 h 27.71689 v -9.21998 h 62.36305" id="path953" />
                <path
                    style="fill:none;stroke:#cccccc;stroke-width:1.08004;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#marker1865)"
                    d="m 116.41667,132.2841 h 35.48571 v -13.1875 h 54.5934" id="path969" />
                <path
                    style="fill:none;stroke:#cccccc;stroke-width:1.08826;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#marker1935)"
                    d="m 116.39639,149.44751 h 40.1443 V 129.64583 H 206.375" id="path985" />
                <path
                    style="fill:none;stroke:#cccccc;stroke-width:1.07979;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#marker2011)"
                    d="m 117.73958,161.38845 h 47.68434 v -22.44866 h 40.87232" id="path1001" />
                <g id="g1073" transform="translate(0,-0.52916667)" style="stroke:#cccccc;fill:#cccccc">
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 197.64375,80.168749 h 6.08542" id="path1033" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 204.52296,80.168749 h 6.08542" id="path1057" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 211.40217,80.168749 h 6.08542" id="path1059" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 218.28138,80.168749 h 6.08542" id="path1061" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 225.16059,80.168749 h 6.08542" id="path1063" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.132;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 232.0398,80.168749 h 4.76228" id="path1065" />
                </g>
                <g id="g1087" transform="translate(0,6.3500003)" style="stroke:#cccccc;fill:#cccccc">
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 197.64375,80.168749 h 6.08542" id="path1075" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 204.52296,80.168749 h 6.08542" id="path1077" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 211.40217,80.168749 h 6.08542" id="path1079" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 218.28138,80.168749 h 6.08542" id="path1081" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 225.16059,80.168749 h 6.08542" id="path1083" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.132;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 232.0398,80.168749 h 4.76228" id="path1085" />
                </g>
                <g id="g1101" transform="translate(-1.3326333e-4,12.964585)" style="fill:#cccccc;stroke:#cccccc">
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 197.64375,80.168749 h 6.08542" id="path1089" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 204.52296,80.168749 h 6.08542" id="path1091" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 211.40217,80.168749 h 6.08542" id="path1093" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 218.28138,80.168749 h 6.08542" id="path1095" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 225.16059,80.168749 h 6.08542" id="path1097" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.132;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 232.0398,80.168749 h 4.76228" id="path1099" />
                </g>
                <g id="g1115" transform="translate(0,20.10834)" style="stroke:#cccccc;fill:#cccccc">
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 197.64375,80.168749 h 6.08542" id="path1103" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 204.52296,80.168749 h 6.08542" id="path1105" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 211.40217,80.168749 h 6.08542" id="path1107" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 218.28138,80.168749 h 6.08542" id="path1109" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 225.16059,80.168749 h 6.08542" id="path1111" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.132;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 232.0398,80.168749 h 4.76228" id="path1113" />
                </g>
                <g id="g1129" transform="translate(0,27.516678)" style="fill:#4d4d4d;stroke:#cccccc">
                    <path
                        style="fill:#4d4d4d;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 197.64375,80.168749 h 6.08542" id="path1117" />
                    <path
                        style="fill:#4d4d4d;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 204.52296,80.168749 h 6.08542" id="path1119" />
                    <path
                        style="fill:#4d4d4d;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 211.40217,80.168749 h 6.08542" id="path1121" />
                    <path
                        style="fill:#4d4d4d;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 218.28138,80.168749 h 6.08542" id="path1123" />
                    <path
                        style="fill:#4d4d4d;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 225.16059,80.168749 h 6.08542" id="path1125" />
                    <path
                        style="fill:#4d4d4d;stroke:#cccccc;stroke-width:1.132;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 232.0398,80.168749 h 4.76228" id="path1127" />
                </g>
                <g id="g1143" transform="translate(0,34.925016)">
                    <path
                        style="fill:none;stroke:#000000;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 197.64375,80.168749 h 6.08542" id="path1131" />
                    <path
                        style="fill:none;stroke:#000000;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 204.52296,80.168749 h 6.08542" id="path1133" />
                    <path
                        style="fill:none;stroke:#000000;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 211.40217,80.168749 h 6.08542" id="path1135" />
                    <path
                        style="fill:none;stroke:#000000;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 218.28138,80.168749 h 6.08542" id="path1137" />
                    <path
                        style="fill:none;stroke:#000000;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 225.16059,80.168749 h 6.08542" id="path1139" />
                    <path
                        style="fill:none;stroke:#000000;stroke-width:1.132;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 232.0398,80.168749 h 4.76228" id="path1141" />
                </g>
                <g id="g1157" transform="translate(0,34.925016)" style="stroke:#cccccc;fill:#cccccc">
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 197.64375,80.168749 h 6.08542" id="path1145" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 204.52296,80.168749 h 6.08542" id="path1147" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 211.40217,80.168749 h 6.08542" id="path1149" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 218.28138,80.168749 h 6.08542" id="path1151" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 225.16059,80.168749 h 6.08542" id="path1153" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.132;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 232.0398,80.168749 h 4.76228" id="path1155" />
                </g>
                <g id="g1171" transform="translate(0,43.391688)" style="stroke:#cccccc;fill:#cccccc">
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 197.64375,80.168749 h 6.08542" id="path1159" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 204.52296,80.168749 h 6.08542" id="path1161" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 211.40217,80.168749 h 6.08542" id="path1163" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 218.28138,80.168749 h 6.08542" id="path1165" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 225.16059,80.168749 h 6.08542" id="path1167" />
                    <path
                        style="fill:#cccccc;stroke:#cccccc;stroke-width:1.132;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 232.0398,80.168749 h 4.76228" id="path1169" />
                </g>
                <g id="g1185" transform="translate(0,52.916694)" style="stroke:#cccccc">
                    <path
                        style="fill:none;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 197.64375,80.168749 h 6.08542" id="path1173" />
                    <path
                        style="fill:none;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 204.52296,80.168749 h 6.08542" id="path1175" />
                    <path
                        style="fill:none;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 211.40217,80.168749 h 6.08542" id="path1177" />
                    <path
                        style="fill:none;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 218.28138,80.168749 h 6.08542" id="path1179" />
                    <path
                        style="fill:none;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 225.16059,80.168749 h 6.08542" id="path1181" />
                    <path
                        style="fill:none;stroke:#cccccc;stroke-width:1.132;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 232.0398,80.168749 h 4.76228" id="path1183" />
                </g>
                <g id="g1199" transform="matrix(1.0472972,0,0,1,-11.200082,65.087535)" style="stroke:#cccccc">
                    <path
                        style="fill:none;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 197.64375,80.168749 h 6.08542" id="path1187" />
                    <path
                        style="fill:none;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 204.52296,80.168749 h 6.08542" id="path1189" />
                    <path
                        style="fill:none;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 211.40217,80.168749 h 6.08542" id="path1191" />
                    <path
                        style="fill:none;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 218.28138,80.168749 h 6.08542" id="path1193" />
                    <path
                        style="fill:none;stroke:#cccccc;stroke-width:1.05406;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 225.16059,80.168749 h 6.08542" id="path1195" />
                    <path
                        style="fill:none;stroke:#cccccc;stroke-width:1.132;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 232.0398,80.168749 h 4.76228" id="path1197" />
                </g>
                <path
                    style="fill:#4d4d4d;stroke:#cccccc;stroke-width:0.588367px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 186.0021,177.27083 2.83483,-3.0529 2.83482,3.0529 h -1.7009 v 4.8846 H 187.703 v -4.8846 z"
                    id="path3879" />
                <path
                    style="fill:#4d4d4d;stroke:#cccccc;stroke-width:0.588367px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 193.41048,177.27083 2.83483,-3.0529 2.83482,3.0529 h -1.7009 v 4.8846 h -2.26785 v -4.8846 z"
                    id="path3895" />
                <path
                    style="fill:#4d4d4d;stroke:#cccccc;stroke-width:0.588367px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 201.34803,177.27083 2.83483,-3.0529 2.83482,3.0529 h -1.7009 v 4.8846 h -2.26785 v -4.8846 z"
                    id="path3897" />
                <path
                    style="fill:#4d4d4d;stroke:#cccccc;stroke-width:0.588367px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 208.75641,177.27083 2.83483,-3.0529 2.83482,3.0529 h -1.7009 v 4.8846 h -2.26785 v -4.8846 z"
                    id="path3899" />
                <path
                    style="fill:#4d4d4d;stroke:#cccccc;stroke-width:0.588367px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 216.16479,177.27083 2.83483,-3.0529 2.83482,3.0529 h -1.7009 v 4.8846 h -2.26785 v -4.8846 z"
                    id="path3901" />
                <path
                    style="fill:#4d4d4d;stroke:#cccccc;stroke-width:0.588367px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 223.044,177.27083 2.83483,-3.0529 2.83482,3.0529 h -1.7009 v 4.8846 h -2.26785 v -4.8846 z"
                    id="path3903" />
                <path
                    style="fill:#4d4d4d;stroke:#cccccc;stroke-width:0.588367px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 229.92321,177.27083 2.83483,-3.0529 2.83482,3.0529 h -1.7009 v 4.8846 h -2.26785 v -4.8846 z"
                    id="path3905" />
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="50.793343" y="66.333481" id="text4065">
                    <tspan sodipodi:role="line" id="tspan4063" x="50.793343" y="66.333481"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">UFP</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="50.627983" y="79.381714" id="text4069">
                    <tspan sodipodi:role="line" id="tspan4067" x="50.627983" y="79.381714"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">BFP</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="50.473358" y="93.311531" id="text4073">
                    <tspan sodipodi:role="line" id="tspan4071" x="50.473358" y="93.311531"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">LPF</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="50.706802" y="108.54741" id="text4077">
                    <tspan sodipodi:role="line" id="tspan4075" x="50.706802" y="108.54741"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">DSSH</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="50.620331" y="123.09" id="text4081">
                    <tspan sodipodi:role="line" id="tspan4079" x="50.620331" y="123.09"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">UMP</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="50.449516" y="135.75604" id="text4085">
                    <tspan sodipodi:role="line" id="tspan4083" x="50.449516" y="135.75604"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">USSH</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="50.540749" y="150.48431" id="text4089">
                    <tspan sodipodi:role="line" id="tspan4087" x="50.540749" y="150.48431"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">LSSH</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="50.71434" y="163.59688" id="text4093">
                    <tspan sodipodi:role="line" id="tspan4091" x="50.71434" y="163.59688"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">LMP</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="91.294006" y="65.771797" id="text4169">
                    <tspan sodipodi:role="line" id="EMS_NWD_UFP_01" x="91.294006" y="65.771797"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">00%</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="91.4142" y="78.71489" id="text4173">
                    <tspan sodipodi:role="line" id="EMS_NWD_BFP_02" x="91.4142" y="78.71489"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">00%</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="91.561279" y="93.405975" id="text4177">
                    <tspan sodipodi:role="line" id="EMS_NWD_LPF_03" x="91.561279" y="93.405975"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">00%</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="91.555901" y="108.75986" id="text4181">
                    <tspan sodipodi:role="line" id="EMS_NWD_DSSH_04" x="91.555901" y="108.75986"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">00%</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="92.363083" y="123.31194" id="text4185">
                    <tspan sodipodi:role="line" id="EMS_NWD_UMP_05" x="92.363083" y="123.31194"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">00%</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="92.608856" y="134.95093" id="text4189">
                    <tspan sodipodi:role="line" id="EMS_NWD_USSH_06" x="92.608856" y="134.95093"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">00%</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="93.004395" y="150.70573" id="text4193">
                    <tspan sodipodi:role="line" id="EMS_NWD_LSSH_07" x="93.004395" y="150.70573"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">00%</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:7.05556px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583;fill:#cccccc;"
                    x="92.977524" y="163.65958" id="text4197">
                    <tspan sodipodi:role="line" id="EMS_NWD_LMP_08" x="92.977524" y="163.65958"
                        style="font-size:7.05556px;stroke-width:0.264583;fill:#cccccc;">00%</tspan>
                </text>
                <text xml:space="preserve"
                    style="font-weight:bold;font-size:2.11667px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';stroke-width:0.264583"
                    x="115.09375" y="75.40625" id="text4201">
                    <tspan sodipodi:role="line" id="tspan4199" x="115.09375" y="75.40625"
                        style="stroke-width:0.264583" />
                </text>
                <path
                    style="fill:#cccccc;stroke:#cccccc;stroke-width:1.065;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 77.787498,62.177083 h 5.291667 v 0" id="path4203" />
                <path
                    style="fill:#ffffff;stroke:#cccccc;stroke-width:1.065;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 77.787498,76.464592 h 5.291667 v 0" id="path4219" />
                <path
                    style="fill:#ffffff;stroke:#cccccc;stroke-width:1.065;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 77.787498,90.222934 h 5.291667 v 0" id="path4221" />
                <path
                    style="fill:#ffffff;stroke:#cccccc;stroke-width:1.065;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 77.787498,105.56881 h 5.291667 v 0" id="path4223" />
                <path
                    style="fill:#cccccc;stroke:#cccccc;stroke-width:1.065;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 77.787498,120.38557 h 5.291667 v 0" id="path4225" />
                <path
                    style="fill:#ffffff;stroke:#cccccc;stroke-width:1.065;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 77.787498,133.08565 h 5.291667 v 0" id="path4227" />
                <path
                    style="fill:#cccccc;stroke:#cccccc;stroke-width:1.065;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 78.052083,148.16667 h 5.291667 v 0" id="path4229" />
                <path
                    style="fill:#ffffff;stroke:#cccccc;stroke-width:1.065;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 77.787498,161.13166 h 5.291667 v 0" id="path4231" />
            </g>
        </svg>
    </div>
</div>