#ncu-convection-section .actbox {
    background-color: #C55B11;
    width: 1.7vw;
    height: 0.3vw;
    display: inline-block;
    margin: 0.2vw 0.5vw;
}

#ncu-convection-section .leg {
    font-size: 0.9vw;
    margin-top: 0.2vw;
    color: #d9d9d9;
}

#ncu-convection-section .refbox {
    background-color: #D945B4;
    width: 2vw;
    height: 0.3vw;
    display: inline-block;
    margin: 0.2vw 0.5vw;
}

#ncu-convection-section .main-head {
    font-size: 25px;
    color: #d9d9d9;
    font-weight: 500;
    padding: 10px 6px;
}

#ncu-convection-section input {
    font-size: 0.8vw;
    background-color: #26293c;
    border: 0.1vw solid #f2f2f2;
    padding: 0.2vw;
    border-radius: 0.3vw;
    margin-left: 0.5vw;
    max-width: 15vw;
    cursor: pointer;
    color: #f2f2f2;
    margin-right: 0.1vw;
}
#ncu-convection-section table {
    font-family: Yu Gothic UI;
    border-collapse: collapse;
    position: relative;
    width: 100%;
}

#ncu-convection-section td {
    padding: 0.5vw;
    font-size: 0.9vw;
    color: #d9d9d9;
    border-bottom: 0.13vw solid #7e808b;
}

#ncu-convection-section tr:last-child td {
    border-bottom: 2px solid #585a64;
}

#ncu-convection-section th {
    background-color: #442266;
    color: #d9d9d9;
    font-size: 0.8vw;
    position: sticky;
    top: 0;
    text-align: left;
    padding: 0.2vw 0.5vw;
    font-size: 1vw;
}

#ncu-convection-section .count-line {
    height: 10vw;
}

#ncu-convection-section .title-1 {
    height: 1.6vw;
}

#ncu-convection-section .title-1 .box1-blue {
    background-color: #0896CC;
    margin: 0 0.5vw;
    width: 1vw;
    height: 1vw;
    display: inline-block
}

#ncu-convection-section #NCUA, #dropvalue {
    font-size: 0.9vw;
    background-color: #26293c;
    border: 0.1vw solid #f2f2f2;
    padding: 0.2vw;
    border-radius: 0.3vw;
    width: 8vw;
    cursor: pointer;
    color: #d9d9d9;
}

#ncu-convection-section .ncu-heading {
    font-size: 1.5vw;
    font-weight: 600;
    color: #d9d9d9;
    font-family: Yu Gothic UI Semibold;
    padding: 0px 1vw;

}

#ncu-convection-section .ncu-headline {
    font-size: 1.vw;
    font-weight: 600;
    color: #d9d9d9;
    font-family: Yu Gothic UI Semibold;

}

#ncu-convection-section .main-dec {
    font-size: 1.2vw;
}

/* scroll */
#ncu-convection-section .overflow {
    overflow: auto;
}

#ncu-convection-section .genratorsHeight {
    height: 10vw;
    padding-right: 5px;
}

#ncu-convection-section .scroll {
    width: 40%;
    height: 280px;
    overflow: auto;
}

#ncu-convection-section ::-webkit-scrollbar {
    width: 0.3vw;
    height: 0.3vw;
}

#ncu-convection-section ::-webkit-scrollbar-track {
    border: 1px solid #262A3C;
    border-radius: 15px;
}

#ncu-convection-section ::-webkit-scrollbar-thumb {
    background: #8d8a95;
    border-radius: 15px;
}

#ncu-convection-section ::-webkit-scrollbar-thumb:hover {
    background: #8d8a95;
}