* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Signika-Light';
    background-image: url("https://www.biopetroclean.co.in/wp-content/uploads/2020/07/IOCL-Refinery.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.main_container {
    /* margin: 0px;
    padding: 0px; */
    border-radius: 15px;
    line-height: 1.3;
    margin-top: 9vw;
}

.sub_container {

    height: 102%;
    width: 72%;
    margin-left: 14%;
    margin-top: -6%;
    background: rgb(249, 249, 249, 0.5);
    border-radius: 15px;

}

.ems_container {
    background: rgb(0, 0, 51, 0.8);
    height: 89vh;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.ems_heading {
    font-size: 9vw;
    margin-top: -48px;
    margin-left: 20px;

}

.ems_name {
    font-size: 2.8vw;
    margin-left: 28px;
    margin-top: -2vw;
}

hr {
    height: 3px;
    margin-left: 28px;
    color: white;
    width: 41vw;
}

.ems_subcontainer {
    margin-top: 203px;
}

.userNamePass {
    background:rgb(249, 249, 249, 0.9);
    margin-top: 9px;
    border-radius: 5px;
    height: 5vh;
    width: 16vw;
    margin-left: 4vw;
    border: 1px solid #c9c4c4;
}

.signin-btn {
    background: rgb(33, 15, 116, 0.9);
    width: 70%;
    height: 38px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left: 18%;
    margin-top: 42px;
    border-radius: 0%;
}

.fafa-icon {
    font-size: 36px;
    margin-left: 20px;
    padding: 12px;

}

.img-login {
    height: 26vh;
    width: 50%;
    margin-left: 5.5vw;
}

.pngIcon {
    width: 4vw;
    margin-left: 23px;
}