<script
    src="./../../../templates/tgtu-unit-overview/tgtu-steam-balance-overview/tgtu-steam-balance-overview.js"></script>
<link rel="stylesheet"
    href="./../../../templates/tgtu-unit-overview/tgtu-steam-balance-overview/tgtu-steam-balance-overview.css">
<span class="main-head">Steam Balance Overview</span>
<div class="col-md-12">
    <div class="col-md-3 steam-table mt-14">
        <div class="body">
            <table id="TGTU_table">
                <tr>
                    <th>Generators & Consumers</th>
                    <th class="hydro-tab">TPH</th>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row mt-14">
            <div class="row">
                <div class="col-md-5 col-head">
                    <span class="left-box">
                        <span class="firstbox"> </span>
                        <span class="first-box-title">LP Steam Generation
                            Trend</span>
                    </span>
                </div>
                <div class="col-md-7">
                    <div class="row pull-right">
                        <span class="trend">
                            <select name="tsbo" id="tsbo1">
                                <option value=" LP Steam Generation ">LP Steam Generation </option>
                                <option value="MP Steam Consumption">MP Steam Consumption </option>
                                <option value="LP Steam Consumption">LP Steam Consumption </option>
                            </select>
                        </span>
        
                        <span class="to">
                            <input type="datetime-local" id="toSteamtgtu" name="toSteamTGTU">
                        </span>
                        <span class="from">
                            <input type="datetime-local" id="fromSteamtgtu" name="fromSteamTGTU">
                        </span>
                    </div>
                </div>              
            </div>
        </div>

        <div class="row actual-row">
            <span class="actbox"> </span>
            <span class="leg"> Actual (TPH)</span>
        </div>
        
        <div class="row">
            <div id="chartSteamBalanceTGTU"></div>
        </div>
    </div>
</div>
</div>