#tgtu-steam-balance-overview .steam-title{
    font-size: 25px;
    margin: -10px;
    }
    #tgtu-steam-balance-overview .bottom-line {
        border-bottom: 1px solid #b2b2b9;
    }
    #tgtu-steam-balance-overview table {
        border-collapse: collapse;
        width: 100%;
    }
    
    #tgtu-steam-balance-overview td,
    th {
       
        padding: 5px;
    }
    #tgtu-steam-balance-overview .actual-row{
        height: 45px;
        padding-top: 10px;

    }
    
    #tgtu-steam-balance-overview td {
        border-left: none;
        border-right: none;
        color: #b2b2b9;
        padding-top: 10px;
        font-size: 16px;
        border-bottom: 1px solid #939294;
    }
    
    #tgtu-steam-balance-overview th {
        background-color: #432b64;
        color: #b2b2b9;
        padding-top: 12px;
        
    }
    #tgtu-steam-balance-overview table tr:last-child td {
        border-bottom: 0;
      }
      #tgtu-steam-balance-overview input {
        font-size: 12px;
        background-color: #26293c;
        border: 1px solid #939294;
        margin-left: 10px;
        border-radius: 5px;
        max-width: 140px;
        cursor: pointer;
        color: #939294;
        float: right;
    }
    
    #tgtu-steam-balance-overview .line-box-blue{
        width: 47px;
        height: 6px;
        background-color: skyblue;
        position: absolute;
        top: 61px;
    }
    
    
    #tgtu-steam-balance-overview .col-rt {
        color: #d9d9d9;
        padding-left: 55px;
    }
    
    #tgtu-steam-balance-overview .first-spa{
        background-color: #00b0f0;
        height: 7px;
        width: 45px;
        top: 13px;
        position: relative;
    }
    #tgtu-steam-balance-overview .steam-table {
        border-right-color: #525462;
        border-right-style: solid;
        border-right-width: 1px;
        padding-left: 0px;
        padding-right: 10px;
        height: 400px;
    }
    #tgtu-steam-balance-overview .generation{
        width: 26%;
        padding-left: 0px;
        padding-right: 0px;
    }
    #tgtu-steam-balance-overview .date-local {
        width: 32%;
        padding-left: 0px;
        padding-right: 7px;
    }
    #tgtu-steam-balance-overview .hydro-tab{
        text-align: end;
    }
    #tgtu-steam-balance-overview .col-head
    {
        font-size: 24px;
        color: white;
        padding-left: 35px;
    }
    #tgtu-steam-balance-overview #tsbo1 {
        background-color: #26293c;
        color: #939294;
        border-radius: 4px;
        font-size: 12px;
        border: 1px solid #d9d9d9;
        padding: 2px;
    }
    
    #tgtu-steam-balance-overview .col-trend{
        padding-right: 0px;
    padding-left: 15px;

    }
    #tgtu-steam-balance-overview .actbox {
        background-color: #00b0f0;
        width: 33px;
        height: 4px;
        display: inline-block;
        margin-bottom: 2px;
        margin-right: 6px;
        margin-left: 20px;
    }
    #tgtu-steam-balance-overview .main-head{
        font-size: 27px;
        color: #d9d9d9;
        font-weight: 500;
        padding: 15px;
    }
    #tgtu-steam-balance-overview .leg {
        font-size: 10px;
        color: #d9d9d9;
    }
    #tgtu-steam-balance-overview .first-box-title{
        font-size: 24px;
    color: #d9d9d9;
    }
    