<link rel="stylesheet" href="./../../../templates/equipment-level-optimization-overview/switchable-drivers/switchable-drivers.css" />
<script src="./../../../templates/equipment-level-optimization-overview/switchable-drivers/switchable-drivers.js"></script>

<div class="switchable-drivers-tab">
    <!-- add your content here -->


    <!-- remove thid -->
    <div class="title">
        <span class="head-title"> M –Motor | T-Turbine</span>
        <table id="switchable-table">
            <tr>
                <th class="text-left">Swichable Drive</th>
                <th class="text-center">Actual</th>
                <th class="text-center">Optimized</th>
            </tr>
        </table>
    </div>
</div>