<link rel="stylesheet" href="./../../../templates/hdpe-unit-overview/overall-sec-overview/overall-sec-overview.css" />
<script src="./../../../templates/hdpe-unit-overview/overall-sec-overview/overall-sec-overview.js"></script>
<div class="hdpe-headline"> Overall Specific Energy Consumption Trend</div>
<div class="col-md-12 hdpe-Overview-tab">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 10px;">
            <div class="col-md-6">
                <div class="row" style="padding: 5px 0;">
                    <span class="actbox osv"> </span>
                    <span class="leg1"> Actual</span>

                    <span class="refbox1"></span>

                    <span class="leg">Reference</span>
                    <span class="feedbox"></span>

                    <span class="leg1">Plant Load%</span>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="row">
                    <input type="datetime-local" id="hdpefromFccu" name="hdpefromFccu">
                    
                    <input type="datetime-local" id="hdpeoveralldate" name="hdpeoveralldate">
                </div>
            </div>
        </div>
    </div>


    <div class="body clearfix chart-body">
        <div class="col-md-12">
            <div class="row">
                <div class="count-line">
                    <div id="hdpeOverallsecgraph" style="height: 41vh;"></div>
                </div>
            </div>
           
        </div>
    </div>

</div>