.Defaultpage table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    overflow: scroll;
}
#emailStatus{  

  
    border: 0.1vw solid #b3a9a9;
    padding: 0.1vw;
    border-radius: 0.3vw;
    width: 34.5vw;
    cursor: pointer;
    color: #333333;
}
#emailStatus:active:focus {
 
   
    border-color: #dbe0e6;
  }
.Defaultpage th {
    background-color: #432b64;
    color: #d9d9d9;
    font-weight: normal;
    padding: 15px;
    top: 0;
    position: sticky;
}

.Defaultpage td {
    border-left: none;
    border-right: none;
    color: #d9d9d9;
    text-align: left;
    border-bottom: 1px solid #686a77;
    padding: 15px;
}

.Defaultpage .btn-primary {
    background-color: #432b64;
    border: #432b64;
}

.Defaultpage .btn-primary:hover {
    background-color: #2a1b3f;

}

.Defaultpage .scroll {
    width: 40%;
    height: 280px;

}

.Defaultpage .genratorsHeight {
    height: 84vh;
    overflow: auto;
}


.Defaultpage ::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

.Defaultpage ::-webkit-scrollbar-track {
    border: 1px solid #262A3C;
    border-radius: 15px;
}

.Defaultpage ::-webkit-scrollbar-thumb {
    background: #8d8a95;
    border-radius: 15px;
}

.Defaultpage ::-webkit-scrollbar-thumb:hover {
    background: #8d8a95;
}
.Defaultpage .btnRow{
    background: #432b64;
    border: none;
    border-radius: 5px;
    padding: 0.3vw 2vw;
    /* flex-basis: initial; */
    color: #FFFFFF;
}
/* model  */
.Defaultpage .modal .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.Defaultpage .modal .modal-content {
    background-color: #fefefe;
    margin: 10vw 27vw;
    padding: 1vw;
    box-shadow: none;
    border: 2px solid #432b64;
    border-radius: 10px;
}

.Defaultpage .modal #closeadddefault {
    color: #432b64;
    font-size: 2.5vw;
    opacity: 1;
    background: none;
    height: 1vw;
    border: none;
    float: right;
}

.Defaultpage .modal .header {
    font-size: 1.5vw;
    font-weight: bold;
}

.Defaultpage .modal .textstyle {
    font-size: 1vw;
    color: #000000;
    font-weight: 600;
}

/* .Defaultpage .form-control {
    height: 2vw;
    padding: 0.3vw;
    font-size: 0.9vw;
    text-align: start;
} */

.Defaultpage .addbtn {
    margin: 0vw 18vw;
    background: #432b64;
    border: none;
    border-radius: 5px;
    padding: 0.3vw 2vw;
    /* flex-basis: initial; */
    color: #FFFFFF;
}