.area-background{
    font-size: 1vw;
    font-weight: normal;
    padding: 0 1vw;
    color: #d9d9d9;
    text-align: center;
}
.area-background .label-color{
    height: 3vh;
 margin-left: 5px;
}
.area-background .line-legends{
    padding: 1.48vw;
    color: #26293c;
}
.area-background .column-2 {
    height: 3.4vw;
    float: left;
    width: 7.5vw;
    padding: 0vw 0.7vw;
}

.area-background .card1 {
   
    padding: 0.5vw;   
    border-radius: 0.6vw;
}
.area-background #text1 {
    color: #f5f0f0;
    font-size: 1.3vw;
}
.area-background .heading{
    font-size: 2vw;
}
.area-background .box3{
    width: 1.2vw;
    height: 1vw;
    display: inline-block;
    margin-top: 0.15vw;
}
.area-background .green{
    background-color: #00b050;
}
.area-background .yellow{
    background-color: #ffc000;
}
.area-background .red{
    background-color:#ff0000;
}
.area-background .grey{
    background-color: #afabab;
}
.area-background .colorbox-range{
   font-size: 0.9vw; 

}
.area-background .count-line{
    height: 36vh;
}
@media (max-width: 992px) {
    .area-background .count-line{
        height: 38vh;
    } 
}