<link rel="stylesheet" href="../../templates/sec-distribution/sec-distribution.css" />
<script src="../../templates/sec-distribution/sec-distribution.js"></script>
<div class="col-md-12 mt-14 card-col pl-0">
    <div class=" card clearfix area-background">
        <span class="heading"> Area-wise SEC Distribution</span>
        <h5 class="sec-subheader"> Deviation % ( Reference - Actual ) SEC </h5>

        <div class="legends">
            <div class="col-md-3 ">
                <div class="box3 green pull-left"></div> <span class="colorbox-range"><span
                        id="var1"></span>&nbsp;-&nbsp;<span id="var2"></span>&nbsp;%</span>
            </div>
            <div class="col-md-3 ">
                <div class="box3 yellow pull-left"></div> <span class="colorbox-range"><span
                        id="var3"></span>&nbsp;-&nbsp;<span id="var4"></span>&nbsp;%</span>
            </div>
            <div class="col-md-3">
                <div class="box3 red pull-left"></div> <span class="colorbox-range"
                    style="font-size: 0.8vw;">&nbsp;<span id="var5"></span>&nbsp;-&nbsp;<span
                        id="var6"></span>&nbsp;%</span>
            </div>
            <div class="col-md-3">
                <div class="box3 grey pull-left"></div> <span class="colorbox-range">Offline</span>
            </div>

        </div>
        <div class="line-legends"> </div>
        <div class="count-line">
            <div class="row text-card" style="display: inline-flex;">
                <div class="column-2 ">
                    <div class="card1" id="ncu">
                        <a href="ncu-unit-overview.html" id="text1"> NCU</a>
                    </div>
                </div>

                <div class="column-2 ">
                    <div class="card1" id="meg">
                        <a href="meg-unit-overview.html" id="text1"> MEG</a>
                    </div>
                </div>

                <div class="column-2">
                    <div class="card1" id="hdpe">
                        <a href="hdpe-unit-overview.html" id="text1"> HDPE</a>
                    </div>
                </div>

                <div class="column-2">
                    <div class="card1" id="pp">
                        <a href="pp-unit-overview.html" id="text1"> PP</a>
                    </div>
                </div>

            </div>
            <div class="row text-card" style="display: inline-flex;">
                <div class="column-2 ">
                    <div class="card1" id="swing">
                        <a href="swing-unit-overview.html" id="text1"> SWING</a>
                    </div>
                </div>

                <div class="column-2 ">
                    <!-- <div class="card1" id="tps">
                    <a href="cpp-overview.html" id="text1"> CPP</a>
                </div> -->
                </div>

                <div class="column-2">
                    <!-- <div class="card1" id="hdpe">
                    <a href="hdpe-unit-overview.html" id="text1"> HDPE</a>
                </div> -->
                </div>

                <div class="column-2">
                    <!-- <div class="card1" id="pp">
                    <a href="pp-unit-overview.html" id="text1"> PP</a>
                </div> -->
                </div>

            </div>
        </div>
    </div>
</div>