<link rel="stylesheet" href="./../../../templates/energy-overview/electricity/electricity.css" />
<script src="./../../../templates/energy-overview/electricity/electricity.js"></script>
<div class="col-md-12" id="electricity-tab">
    <div class="col-md-12 card-col">
        <div class="col-md-8 card-col">
            <div class="card">
                <div class="chart-title title">
                    <div class="row" style="display: inline-flex;">

                        <div class="col-md-12 col-first">

                            <span class="left-box">
                                <span class="firstbox"> </span>
                                <span class="col-yr">Specific Electricity Consumption
                                    <span id="unit">(kWh/MT of Product)</span></span>
                            </span>
                            <span class="secondbox"></span>
                            <span class="second-box-title col-yr">Throughput <span
                                    class="in-title">(MT/Day)</span></span>
                            <!-- <div style="display: inline-flex;"> -->
                            <span class="from">
                                <span class="input-title"></span>
                                <input type="datetime-local" id="fromelectricity" name="fromelectricity">
                            </span>
                            <input type="datetime-local" id="toelectricity" name="toelectricity"
                                style="display: inline-block;">

                        </div>

                    </div>
                </div>
                <div class="line text-left">
                    <span class="axis"> Primary Axis Trends :</span>&nbsp;&nbsp;
                    <select id="chartTypedata" name="Chart Type">
                        <option value="spline">Line</option>
                        <option value="column">Bar</option>

                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="axis"> Secondary Axis Trends :</span>&nbsp;&nbsp;
                    <select id="chartType1data" name="Chart Type1">

                        <option value="column">Bar</option>
                        <option value="spline">Line</option>
                    </select>
                </div>
                <div class="body chart-body">
                    <div class="count-line">
                        <div id="PNCelectricityLine" style="height: 34vw;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 pl-7 pr-0">
                    <div class="card clearfix">
                        <div class="title"> SEC Electricity (kWh/MT of Product) </div>
                        <div class="body">
                            <div class="count" id="count_ele1"> </div>
                        </div>
                        <div class="footer">
                            <span class="ref pull-left">REF&nbsp; :
                                <span id="ref_ele1"> </span>
                            </span>
                            <span id="result_ele1" class="result pull-right">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-14">
                <div class="col-md-12 pl-0 pr-0">
                    <div class="col-md-6 pl-7 pr-0">
                        <div class="card clearfix">
                            <div class="title" style="padding: 0 3.2vw;">
                                Total Electricity
                                <span class="sub-title">Generation (MWh)</span>

                            </div>
                            <div class="body">
                                <div class="count" id="count_ele2"> </div>
                            </div>
                            <div class="footer"><span class="ref pull-left">REF&nbsp; : <span id="ref_ele2">
                                    </span></span><span id="result_ele2" class="result pull-right"> 236
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-14 pr-0">
                        <div class="card clearfix">
                            <div class="title">
                                Total Electricity <br> <span class="sub-title">Consumption (MWh)</span>
                            </div>
                            <div class="body">
                                <div class="count" id="count_ele3"> </div>
                            </div>
                            <div class="footer"><span class="ref pull-left">REF&nbsp; : <span id="ref_ele3">
                                    </span></span><span id="result_ele3" class="result pull-right"> 366
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-14">
                <div class="col-md-12 pl-0 pr-0">
                    <div class="col-md-6 pl-7 pr-0">
                        <div class="card  clearfix">
                            <div class="title" style=" display: inline-flex; font-size: 0.9vw;">

                                Electricity
                                Generation Cost
                                (INR/kWh)
                            </div>
                            <div class="body1">
                                <div class="count" id="count_ele4"> </div>
                            </div>
                        </div>
                        <div class="card  clearfix mt-10">
                            <div class="title" style="font-size: 0.9vw; ">

                                Grid power cost <br> (INR/kWh)
                            </div>
                            <div class="body1">
                                <div class="count" id="count_ele5"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-14 pr-0">
                        <div class="card  clearfix">
                            <div class="title">Electricity Generation Capacity Utilization (%) </div>
                            <div class="body clearfix">
                                <div class="donut2">
                                    <div id="doughnutChartprogresselectricity" style="    height: 21.5vh;"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row  mt-14">
                <div class="col-md-12 pl-7 pr-0">
                    <div class="card stack-hei overflow genratorsHeight">

                        <div class="col-md-8 pl-o pr-0" style="border-right: 1px solid #d9d9d9 ;">

                            <div class="">
                                <div class="line" style="display: inline-block;">
                                    <div class="box-eff box-gray body-grey"></div> <span class="color-eff">CPP
                                        Electricity
                                        Generation (60 MW)</span>
                                </div>
                                <div class="line" style="display: inline-block;">
                                    <div class="box-eff box-blue"></div> <span class="color-eff">Renewable Electricity
                                        (25
                                        MW)</span>
                                </div>
                                <div class="line">
                                    <div class="box-eff box-yellow"></div> <span class="color-eff">Grid Electricity
                                        Import</span>
                                </div>
                                <div class="line">
                                    <div class="box-eff box-red"></div> <span class="color-eff">Electricity Import from
                                        PR
                                    </span>
                                </div>
                                <div class="line" style="display: inline-block;">
                                    <div class="box-eff box-white"></div> <span class="color-eff">Electricity Export to
                                        PR
                                    </span>
                                </div>
                                <div class="line" style="display: inline-block;">
                                    <div class="box-eff box-pur"></div> <span class="color-eff">Electricity export to
                                        ALNI</span>
                                </div>

                                <div class="line" style="display: inline-block;">
                                    <div class="box-eff box-pur-1"></div> <span class="color-eff">Electricity export to
                                        ISRL</span>
                                </div>
                                <div class="line" style="display: inline-block;">
                                    <div class="box-eff box-pur-2"></div> <span class="color-eff">Electricity export to
                                        PADC</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="line1"><span class="color-eff"><span id="stack1"></span>&nbsp;MW</span></div>
                            <div class="line1"><span class="color-eff"><span id="stack2"></span>&nbsp;MW</span></div>
                            <div class="line1"><span class="color-eff"><span id="stack3"></span>&nbsp;MW</span></div>
                            <div class="line1"><span class="color-eff"><span id="stack4"></span>&nbsp;MW</span></div>
                            <div class="line1"><span class="color-eff"><span id="stack5"></span>&nbsp;MW</span></div>
                            <div class="line1"> <span class="color-eff"><span id="stack6"></span>&nbsp;MW</span></div>
                            <div class="line1"><span class="color-eff"><span id="stack7"></span>&nbsp;MW</span></div>
                            <div class="line1"> <span class="color-eff"><span id="stack8"></span>&nbsp;MW</span></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>































































































































































































</div>