<link rel="stylesheet"
    href="./../../../templates/equipment-level-optimization-overview/steam-generators/steam-generators.css" />
<script src="./../../../templates/equipment-level-optimization-overview/steam-generators/steam-generators.js"></script>

<div class="steam-generator-tab">
    <div class="row">
        <div class="col-md-5">
            <div class="overflow genratorsHeight">
                <table>
                    <tr>
                        <th>KPI (Ton/hr MW)</th>
                        <th>Actual</th>
                        <th>Optimized</th>
                        <th colspan="2">Deviation</th>
                    </tr>
                    <tbody id="generatorstable"></tbody>
                </table>
            </div>
        </div>
        <div class="col-md-7 col-tb">
            <div class="title">
                <span id="generatorsid">Boiler # 1 Steam Generation (Ton/hr) Trend </span>
            </div>
            <div class="row">
                <div class="title">
                    <div class="col-md-4">

                        <div class="line first-spa"> </div>
                        <span class="col-rt">Actual</span>

                        <div class="line secd-spa"> </div>
                        <span class="col-rt">Optimized</span>

                    </div>

                    <div class="col-md-8">
                        <div class="row pull-right" style="display: inline-flex;">
                            <span class="trend">
                                <select name="Boiler" id="steamSelect">
                                    <!-- <option value="Steam Generation"> Steam Generation</option>
                                    <option value="Fuel Oil Consumption"> Fuel Oil Consumption </option>
                                    <option value="RFG Consumption"> RFG Consumption </option> -->
                                </select>
                            </span>
                            <span class="from">
                                <input type="datetime-local" id="fromstreamgene" name="fromStreamGene">
                            </span>
                            <span class="to">
                                <input type="datetime-local" id="toStreamgene" name="tostreamgene"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="count-line">
                    <div id="SQEqOver-line"></div>
                </div>
            </div>
        </div>
    </div>
</div>