<link rel="stylesheet"
    href="./../../../templates/equipment-level-optimization-overview/steam-turbine/steam-turbine.css" />
<script src="./../../../templates/equipment-level-optimization-overview/steam-turbine/steam-turbine.js"></script>

<div class="steam-turbine-tab">
    <div class="row">
        <div class="col-md-5">
            <div class="overflow genratorsHeight">
                <table>
                    <tr>
                        <th>Steam Turbine Extraction Flow <br>
                            (Ton/hr)</th>
                        <th>Actual</th>
                        <th>Optimized</th>
                        <th colspan="2">Deviation</th>
                    </tr>
                    <tbody id="turbinetable"></tbody>
                </table>
            </div>
        </div>
        <div class="col-md-7 col-tb">
            <div class="title">
                <span id="turbineid">STG #1 HP Extraction (Ton/hr) Trend </span>
            </div>
            <div class="row">
                <div class="title">
                    <div class="col-md-4">

                        <div class="line first-spa"> </div>
                        <span class="col-rt">Actual</span>

                        <div class="line secd-spa"> </div>
                        <span class="col-rt">Optimized</span>

                    </div>

                    <div class="col-md-8">
                        <div class="row pull-right" style="display: inline-flex;">
                            <span class="trend">
                                <select name="STG" id="opt-steamTurbine">
                                </select>
                            </span>
                            <span class="from">
                                <input type="datetime-local" id="fromsteamurbine" name="fromSteamTurbine">
                            </span>
                            <span class="to">
                                <input type="datetime-local" id="tosteamturbine" name="toSteamTurbine">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="count-line">
                    <div id="SQsteamTurbine-line"></div>
                </div>
            </div>
        </div>
    </div>
</div>