#ncu-steam-balance-overview .col-st {
    font-size: 1.7vw;
    padding-left: 1vw;
    color: #d9d9d9;
}
#ncu-steam-balance-overview .ncu-headline {
    font-size: 1.7vw;
    font-weight: 600;
    color: #d9d9d9;
    font-family: Yu Gothic UI Semibold;
    padding: 5px 15px;
}
#ncu-steam-balance-overview .steam-table {
    border-right: 0.2vw solid #525462;
}

#ncu-steam-balance-overview table {
    font-family: Yu Gothic UI;
    border-collapse: collapse;
    color: #d9d9d9;
    width: 100%;
}

#ncu-steam-balance-overview td {
    border-bottom: 1px solid #b2b2b9;
    font-size: 1vw;
    padding: 0.5vw;
    color: #d9d9d9;
}

#ncu-steam-balance-overview td:nth-child(2) {
    color: #f2f2f2;
    text-align: right;
}

#ncu-steam-balance-overview th {
    padding: 0.5vw;
    background-color: #442266;
    font-size: 1.1vw;
    color: #d9d9d9;
    font-weight: normal;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#ncu-steam-balance-overview .count-line {
    height: 39vh;
}

#ncu-steam-balance-overview table tr:last-child td {
    border-bottom: 0;
}

#ncu-steam-balance-overview .steam-gen2 {
    text-align: right;
}

#ncu-steam-balance-overview input, select {
    font-size: 1vw;
    background-color: #26293c;
    border: 0.1vw solid #f2f2f2;
    padding: 0.1vw;
    border-radius: 0.3vw;
    margin-left: 0.5vw;
    max-width: 15vw;
    cursor: pointer;
    color: #f2f2f2;
}

#ncu-steam-balance-overview #ncudrop {
    padding: 0.2vw;
    color: #d9d9d9;
}

#ncu-steam-balance-overview .actual-line {
    padding-top: 0.6vw;
}

#ncu-steam-balance-overview .actbox {
    background-color: #00b0f0;
    width: 1.9vw;
    height: 0.5vh;
    display: inline-block;
    margin: 0.1vw;
}

#ncu-steam-balance-overview .leg {
    font-size: 0.9vw;
    color: #d9d9d9;
}

#ncu-steam-balance-overview .first-box-title {
    font-size: 1.6vw;
    color: #d9d9d9;
}


/* scroll */
#ncu-steam-balance-overview .overflow {
    overflow: auto;
}

#ncu-steam-balance-overview .genratorsHeight {
    height: 48vh;
    padding-right: 5px;
}

#ncu-steam-balance-overview .scroll {
    width: 40%;
    height: 280px;
    overflow: auto;
}

#ncu-steam-balance-overview ::-webkit-scrollbar {
    width: 0.3vw;
    height: 0.8vh;
}

#ncu-steam-balance-overview ::-webkit-scrollbar-track {
    border: 1px solid #262A3C;
    border-radius: 15px;
}

#ncu-steam-balance-overview ::-webkit-scrollbar-thumb {
    background: #8d8a95;
    border-radius: 15px;
}

#ncu-steam-balance-overview ::-webkit-scrollbar-thumb:hover {
    background: #8d8a95;
}