#hdpe-horizontal-tiles .card {
    background-color: #26293c;
    border-radius: 10px;
    padding: 10px 6px;
}

#hdpe-horizontal-tiles .unit-pro {
    font-size: 0.7vw;
    color: #d9d9d9;
    text-align: center;
}

#hdpe-horizontal-tiles .card .title {
    font-size: 1vw;
    font-weight: normal;
    color: #d9d9d9;
    text-align: center;
}

#hdpe-horizontal-tiles .footer-deviation .deviation .label {
    font-size: 0.9vw;
    padding: 0;
}

#hdpe-horizontal-tiles .card .body .count {
    text-align: center;
    font-size: 3vw;
    color: #f2f2f2;
    font-weight: 700;
    font-family: Bahnschrift Light;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
}

#hdpe-horizontal-tiles .card .footer .ref {
    color: #d9d9d9;
    font-size: 0.8vw;
    font-family: Bahnschrift Light;
    display: inline-block;
    /* padding: 5px 0px; */
}

#hdpe-horizontal-tiles #ref-hdpe1 {
    color: #f2f2f2;
}

#hdpe-horizontal-tiles .card .footer .result {
    color: #f2f2f2;
    font-size: 0.8vw;
    font-family: Bahnschrift Light;
    padding: 1px 4px;
    border-radius: 5px;
    display: inline-block;
}

#hdpe-horizontal-tiles .card .footer .result.red {
    background-color: #ff0000;
}

#hdpe-horizontal-tiles .card .footer .result.green {
    background-color: #00b050;
}


#hdpe-horizontal-tiles .main-title {
    font-size: 0.9vw;
    text-align: center;
    color: #d9d9d9;
}


#hdpe-zingChart-wrapper {
    padding-top: 68px;
}

#hdpe-zingChart-wrapper,
#hdpe-zingChart-top {
    height: 85px !important;
}

#hdpe-horizontal-tiles .footer-deviation .deviation .label,
#hdpe-horizontal-tiles .footer-deviation .actual .label {
    font-weight: normal;
    color: #d9d9d9;
    font-size: 0.9vw;
    padding: 0;

}

#hdpe-horizontal-tiles .footer-deviation .deviation .label {
    font-size: 1vw;
    padding: 0;
}

#hdpe-horizontal-tiles .footer-deviation .actual .label {
    padding: 0;
    margin-top: 2px;
}

#hdpe-horizontal-tiles .footer-deviation .deviation .count,
#hdpe-horizontal-tiles .footer-deviation .actual .count {
    /* font-weight: bold; */
    color: #f2f2f2;
    font-size: 0.9vw;
    display: inline-flex;
}


#hdpe-horizontal-tiles .chart-legends .legend {
    padding: 5px 0px;
    display: inline-block;
    PADDING-BOTTOM: 0;
}

#hdpe-horizontal-tiles .chart-legends .legend .legend-circle {
    height: 0.7vw;
    width: 0.7vw;
    border-radius: 0.4vw;
    display: inline-block;
}

#hdpe-horizontal-tiles .chart-legends .legend .legend-circle.legend-solid {
    background-color: #ffa600;
}

#hdpe-horizontal-tiles .chart-legends .legend .legend-circle.legend-liquid {
    background-color: #00aa7e;
}

#hdpe-horizontal-tiles .chart-legends .legend .legend-circle.legend-gas {
    background-color: #005374;
}

#hdpe-horizontal-tiles .chart-legends .legend .legend-text {
    color: #d9d9d9;
    padding-left: 0.2vw;
    font-size: 0.8vw;
    padding-right: 0.6vw;
}

#hdpe-horizontal-tiles table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #d9d9d9;
    font-family: Yu Gothic UI;
    line-height: 1.12;
}

#hdpe-horizontal-tiles th {
    text-align: left;
    padding: 0.5vw;
    font-weight: normal;
    font-size: 0.9vw;
    background-color: #432b64;
    top: 0;
    position: sticky;
}

#hdpe-horizontal-tiles td {
    border-bottom: 0.1vw solid #8d8b96;
    text-align: end;
    padding: 0.5vw;
    color: #f2f2f2;
    font-size: 1vw;
}

#hdpe-horizontal-tiles td:nth-child(1) {
    color: #d9d9d9;
    text-align: start;
}

#hdpe-horizontal-tiles tbody#Parameter_table td:nth-child(2) {
    color: #d9d9d9;
}

#hdpe-horizontal-tiles table.shptable td:nth-child(2) {
    color: #d9d9d9;
}

#hdpe-horizontal-tiles #hdpetable {
    line-height: 1.30;
}

#hdpe-horizontal-tiles table.shptable td:nth-child(2) {
    text-align: center;
}

#hdpe-horizontal-tiles table.shptable td {
    padding: 0.2vw;
}


#hdpe-horizontal-tiles input[type=radio] {
    height: 0.7vw;
    margin: 0.2vw 0.2vw;
}

#hdpe-horizontal-tiles .lebel-style {
    display: inline-block;
    font-size: 0.9vw;
    color: #d9d9d9;
    font-weight: 100;
}

#hdpe-horizontal-tiles .percents {
    text-align: center;
}

#hdpe-horizontal-tiles table th:nth-child(3) {
    text-align: end;
}

#hdpe-horizontal-tiles table tr:last-child td {
    border-bottom: 0;
}

#hdpe-horizontal-tiles .col {
    padding: 1px;
    height: 6.3vw;
}

#hdpe-horizontal-tiles .footer {
    padding: 0.1vw;
}

/* scroll */
#hdpe-horizontal-tiles .overflow {
    overflow: auto;
}

#hdpe-horizontal-tiles .tableheight {
    height: 7vw;
    padding-right: 5px;
}

#hdpe-horizontal-tiles .secondtableheight {
    height: 12.7vw;
    padding-right: 5px;
}

#hdpe-horizontal-tiles .scroll {
    width: 40%;
    height: 280px;
    overflow: auto;
}

#hdpe-horizontal-tiles ::-webkit-scrollbar {
    width: 0.3vw;
    height: 0.3vw;
}

#hdpe-horizontal-tiles ::-webkit-scrollbar-track {
    border: 1px solid #262A3C;
    border-radius: 15px;
}

#hdpe-horizontal-tiles ::-webkit-scrollbar-thumb {
    background: #8d8a95;
    border-radius: 15px;
}

#hdpe-horizontal-tiles ::-webkit-scrollbar-thumb:hover {
    background: #8d8a95;
}

/* add css */
#hdpe-horizontal-tiles .gap1 {
    padding-top: 0.3vw;
    text-align: center;
}

#hdpe-horizontal-tiles .card .body .donut1 {
    height: 7.4vw;
}

#hdpe-horizontal-tiles .footer-deviation {
    padding: 0.3vw;
}