#swing-horizontal-tiles .tiles-row .card .title {
    font-size: 1vw;
    font-weight: normal;
    padding: 0 10px;
    color: #d9d9d9;
    text-align: center;
   /* font-family: Bahnschrift; */
}

#swing-horizontal-tiles .card{
    background-color: #26293c;
    padding: 10px 6px;
    border-radius: 10px;
}
#swing-horizontal-tiles .tiles-row .card .body .count {
    text-align: center;
    font-size: 1.5vw;
    color: #f2f2f2;
    font-weight: 700;
    font-family: Bahnschrift Light;
    padding: 0.48vw;
}
#swing-horizontal-tiles .tiles-row .card .card-body .count{
    color: #f2f2f2;
    /* padding: 10px; */
    font-weight: 700;
    font-size: 2vw;
    text-align: center;
}
#swing-horizontal-tiles  .main-title {
    font-size: 0.9vw;
    text-align: center;
    color: #d9d9d9;
    /* font-family: Bahnschrift; */
}

/* #swing-horizontal-tiles .card .title .col-cc {
    margin: 0px -9px;
} */

#swing-horizontal-tiles .card .title .fire {
    padding-left: 0px;
}

#swing-horizontal-tiles .card .body .donut {
    height: 7vw;
}

/* #swing-horizontal-tiles .card .body #doughnut {
    margin: 0px 50px;
} */

#zingChart-wrapper {
    padding-top: 68px;
}

#zingChart-wrapper,
#zingChart-top {
    height: 85px !important;
}

#swing-horizontal-tiles .footer .deviation .label,
#swing-horizontal-tiles .footer .actual .label {
    font-weight: normal;
    color: #d9d9d9;
    font-size: 0.9vw;
}

#swing-horizontal-tiles .footer .deviation .label {
    font-size: 1vw;
    padding: 0;
}

#swing-horizontal-tiles .footer .actual .label {
    padding: 0;
}

#swing-horizontal-tiles .footer .deviation .count,
#swing-horizontal-tiles .footer .actual .count {
   font-size: 0.9vw;
    color: #f2f2f2;
}

#swing-horizontal-tiles table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;    
    font-family: Yu Gothic UI Semibold;
    line-height: 1.12;
}
/* #swing-horizontal-tiles #tablebody{
    padding: 0.3vw;
} */
#swing-horizontal-tiles td {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 0.55vw 0.2vw;
    color: #f2f2f2;
    font-size: 1vw;
}

#swing-horizontal-tiles th {
    border-bottom: 1px solid #dddddd;
    /* text-align: left; */
    padding: 5px;
    font-size: 1vw;

    color: #d9d9d9;
}
#swing-horizontal-tiles table td:nth-child(1){
    color: #d9d9d9;
    text-align: start;
}

#swing-horizontal-tiles table tr:last-child td {
    border-bottom: 0;
} 

#swing-horizontal-tiles td.positive {
    color: #00aa55;
}

#swing-horizontal-tiles td.negative {
    color: #ff0000;
}

#swing-horizontal-tiles .airtable-body {
    line-height: 1.208571;
}
#swing-horizontal-tiles .mwhcard {
    line-height: 1.3;
}

#swing-horizontal-tiles .col{
    padding: 1px;
}

/* #swing-horizontal-tiles .chart-legends {
    padding-top: 1.12vw;
} */

#swing-horizontal-tiles .chart-legends .legend {
    padding: 5px 0px;
    display: inline-block;
    PADDING-BOTTOM: 0;
}

#swing-horizontal-tiles .chart-legends .legend .legend-circle {
    height: 0.7vw;
    width: 0.7vw;
    border-radius: 0.4vw;
    display: inline-block;
}
#swing-horizontal-tiles .chart-legends .legend .legend-circle.legend-pink {
    background-color: #d944b4;
}
#swing-horizontal-tiles .chart-legends .legend .legend-circle.legend-solid {
    background-color: #ffa600;
}

#swing-horizontal-tiles .chart-legends .legend .legend-circle.legend-liquid {
    background-color: #00aa7e;
}

#swing-horizontal-tiles .chart-legends .legend .legend-circle.legend-gas {
    background-color: #005374;
}

#swing-horizontal-tiles .chart-legends .legend .legend-text {
    color: #d9d9d9;
    padding-left: 0.2vw;
    font-size: 0.8vw;
    padding-right: 0.6vw;
}
#swing-horizontal-tiles .gap {
    padding-top: 1vw;
    text-align: center;
}

#swing-horizontal-tiles .col-ti{
    font-size: 0.9vw;
}
#swing-horizontal-tiles .footer{
    padding: 0.1vw;
}
#swing-horizontal-tiles input[type=radio]{
    height: 0.7vw;
    margin: 0.2vw 0.2vw;
}
#swing-horizontal-tiles .lebel-style {
    display: inline-block;
    font-size: 0.9vw;
    color: #d9d9d9;
    /* font-family: Bahnschrift; */
    font-weight: 100;
}


/* table */

#swing-horizontal-tiles td
 {
    border-bottom: 1px solid #d9d9d9;
    font-size: 1vw;
    padding: 0.5vw;
}
#swing-horizontal-tiles th {
    padding: 0.5vw;
    background-color: #442266;
    font-size: 1.1vw;
    color: #d9d9d9;
    font-weight: normal;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
           /* scroll */
#swing-horizontal-tiles .overflow {
            overflow: auto;
        }
        
#swing-horizontal-tiles .genratorsHeight {
    height: 24vh;
        }
                
#swing-horizontal-tiles .genratorsHeight-1 {
    height: 27vh;
        }
#swing-horizontal-tiles .scroll {
            width: 40%;
            overflow: auto;
        }
        
#swing-horizontal-tiles ::-webkit-scrollbar {
            width: 0.3vw;
            height: 1.3vw;
        }
        
#swing-horizontal-tiles ::-webkit-scrollbar-track {
            border: 1px solid #262A3C;
            border-radius: 15px;
        }
        
#swing-horizontal-tiles ::-webkit-scrollbar-thumb {
            background: #8d8a95;
            border-radius: 15px;
        }
        
#swing-horizontal-tiles ::-webkit-scrollbar-thumb:hover {
            background:#8d8a95;
}
