-
<link href="./templates/left-sidebar/left-sidebar.css" rel="stylesheet" />
<script src="./templates/left-sidebar/left-sidebar.js"></script>
<div class="links-wrapper">
        <ul class="link-list">
                <li class="link-item" id="homeRole"><a href="home.html" onclick="Truncated()" class="link"><i
                                        class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                <li class="link-item" id="energyOverviewRole"><a href="energy-overview.html" onclick="Truncated()"
                                class="link" id="energyOverviewRole"><i class="fa fa-bar-chart" aria-hidden="true"></i>
                                Energy Consumption
                                Overview</a></li>
                <li class="link-item" id="tpsUnitRole"><a href="cpp-overview.html" onclick="Truncated()" class="link"><i
                                        class="fa fa-bar-chart" aria-hidden="true"></i> CPP Overview</a></li>

                <li class="link-item"><a data-toggle="collapse" href="#collapseAly" onclick="Truncated()"
                                class="link"><i class="fa fa-bar-chart" aria-hidden="true"></i> Unit Level Overview</a>
                </li>
                <div class="link-list1" style="padding-left: 1.2vw;">
                        <li class="link-item collapse" id="collapseAly">

                                <a href="ncu-unit-overview.html" onclick="Truncated()" class="link"> <i
                                                class="fa fa-location-arrow" aria-hidden="true"></i>NCU Unit Overview
                                </a><br>

                                <a href="meg-unit-overview.html" onclick="Truncated()" class="link"> <i
                                                class="fa fa-location-arrow" aria-hidden="true"></i> MEG Unit Overview
                                </a><br>

                                <a href="hdpe-unit-overview.html" onclick="Truncated()" class="link"><i
                                                class="fa fa-location-arrow" aria-hidden="true"></i> HDPE Unit
                                        Overview</a><br>

                                <a href="pp-unit-overview.html" onclick="Truncated()" class="link"><i
                                                class="fa fa-location-arrow" aria-hidden="true"></i> PP Unit
                                        Overview</a><br>

                                <a href="swing-unit-overview.html" onclick="Truncated()" class="link"><i
                                                class="fa fa-location-arrow" aria-hidden="true"></i> SWING Unit
                                        Overview</a><br>

                        </li>
                </div>
                <li class="link-item" id="optiUnitRole"><a href="optimization-overview.html" onclick="Truncated()"
                                class="link"><i class="fa fa-bar-chart" aria-hidden="true"></i> Optimization
                                Overview</a></li>
                <li class="link-item" id="equiloUnitRole"><a href="equipment-level-optimization-overview.html"
                                onclick="Truncated()" class="link"><i class="fa fa-bar-chart" aria-hidden="true"></i>
                                Equipment Level
                                Optimization <span>Overview</span></a></li>
                <li class="link-item" id="userUnitRole"><a href="User-manual-tag.html" class="link"><i
                                        class="fa fa-bar-chart" aria-hidden="true"></i>User Manual tag</a></li>
                <li class="link-item" id="formulaUnitRole"><a href="formula-management.html" class="link"><i
                                        class="fa fa-bar-chart" aria-hidden="true"></i>Formula Management</a></li>
                <li class="link-item" id="userAuth"><a href="User-Authentication.html" class="link"><i
                                        class="fa fa-bar-chart" aria-hidden="true"></i> User Authentication</a></li>
                <li class="link-item" id="emailShow"><a data-toggle="collapse" href="#collapseAly2"
                                onclick="Truncated()" class="link"><i class="fa fa-bar-chart" aria-hidden="true"></i>EMS
                                Alerts</a>
                </li>
                <div class="link-list2" style="padding-left: 1.2vw;">
                        <li class="link-item collapse" id="collapseAly2"><a href="Email-notification.html"
                                        onclick="Truncated()" class="link"><i class="fa fa-location-arrow"
                                                aria-hidden="true"></i>Email Notification</a><br>

                                <a href="emailconfig.html" onclick="Truncated()" class="link"><i
                                                class="fa fa-location-arrow" aria-hidden="true"></i> Email
                                        Config</a><br>


                        </li>
                </div>
        </ul>
</div>

<div class="sidebar-control" id="sidebar-control">
        <i id="control-icon" class="fa fa-caret-right" aria-hidden="true"></i>
</div>