/* CSS for Line graph */
.process-furnaces-tab .line{
    height: 0.3vw;
    width: 2.5vw;
    display: inline-block;
    margin: 0.2vw 0;
    position: relative;
}
.process-furnaces-tab .first-spa{
    background-color: #00b0f0;   
}
.process-furnaces-tab .secd-spa{
    background-color: #00F66E;
   }
.process-furnaces-tab .count-line{
    height: 32vw;
}

.process-furnaces-tab .col-rt {
    position: relative;
    color: #d9d9d9;
    display: inline-block;
    font-size: 0.9vw;
}
.process-furnaces-tab .col-tb{
    border-left : 1px solid #686a77;
}
.process-furnaces-tab select,input{
    font-size: 0.8vw;
    background-color: #26293c;
    border: 1px solid #f2f2f2;
    padding: 2px;
    border-radius: 5px;
    /* max-width: 12vw; */
    cursor: pointer;
    color: #f2f2f2;
    margin-right: 0.5vw;
}
.process-furnaces-tab #profurnaces, #processtable{
    /* max-width: 12vw; */
    font-size: 0.9vw;
    padding: 3px;
    /* padding-right: 3.2vw; */
    color: #d9d9d9;
    font-weight: normal;
}
.process-furnaces-tab .title{
    font-size: 2vw;
}
/* Table css */
.process-furnaces-tab table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.process-furnaces-tab td {
    font-size: 1vw;
    color: #f2f2f2;
    text-align: left;
    border-bottom: 1px solid #686a77;
    padding: 0.9vw 0.5vw;
}

.process-furnaces-tab th {
    background-color: #442266;
    color: #d9d9d9;
    font-weight: normal;
    position: sticky;
    top: 0;
    padding: 0.9vw 0.5vw;
    font-size: 1vw;
}
.process-furnaces-tab table tr:last-child td {
    border-bottom: 0;
}
.process-furnaces-tab table td:nth-child(1){
  color: #d9d9d9;
   }
.process-furnaces-tab table td:nth-child(2){
 text-align: center;
}
.process-furnaces-tab table td:nth-child(3){
    text-align: end;
   }
/* scroll */
.process-furnaces-tab .genratorsHeight {
    height: 32vw;
    padding-right: 0.5vw;
}
/* progress */
.process-furnaces-tab progress {
   border-radius: 7px;
   height: 10px;
}
.process-furnaces-tab  progress::-webkit-progress-bar {
   background-color: #26293c;
}
.process-furnaces-tab  progress::-webkit-progress-value {
   background-color: #c55a11;
}