<link rel="stylesheet"
    href="./../../../templates/hdpe-unit-overview/steam-balance-overview/steam-balance-overview.css" />
<script src="./../../../templates/hdpe-unit-overview/steam-balance-overview/steam-balance-overview.js"></script>
<div class="hdpe-headline">Steam Balance Overview</div>
<div class="steam-balance-overview-hdpe">
    
    <div class="col-md-3 steam-table">
        <div class="body">
            <div class="overflow genratorsHeight">
                <table>
                    <tr>
                        <th class="steam-gen1">Generators & Consumers</th>
                        <th class="steam-gen2">TPH</th>
                    </tr>
             
                    <tbody id="hdpe_table"></tbody>
              
                </table>
            </div>
        </div>

    </div>

    <div class="col-md-9">
        <div class="row">
            <!-- <div class="row box-width-rt"> -->
            <div class="col-md-4 col-head">
                <span class="left-box">
                    <span class="first-box-title" id="hdpecharts">HP Steam Consumption
                        Trend</span>
                </span>
            </div>
            <div class="col-md-8">
                <div class="row pull-right">
                    <span class="trend">
                        <select name="hdpedrop" id="hdpedrop">
                            <option value="HP Steam Consumption" name="HP Steam Consumption
                                Trend"> HP Steam Consumption</option>
                            <option value="MP Steam Consumption" name= "MP Steam Consumption Trend"> MP Steam Consumption</option>
                            <option value="LP Steam Consumption" name = "LP Steam Consumption Trend"> LP Steam Consumption</option>
                            <option value="Imbalance" name= "Imbalance Trend"> Imbalance</option>
                        </select>
                    </span>
                    <span class="from">
                        <input type="datetime-local" id="fromHomehdpe" name="fromHomehdpe">
                    </span>
                    <span class="to">
                        <input type="datetime-local" id="toHomehdpe" name="toHomehdpe">
                    </span>
                </div>
            </div>

        </div>
        <!-- </div> -->
        <div class="actual-line">
            <span class="actbox"> </span>
            <span class="leg"> Actual (TPH)</span>
        </div>
        <div class="body">
            <div class="count-line">
                <div id="chartSteamBalancehdpe" style="height: 40vh;"></div>
            </div>
        </div>
    </div>
</div>