<link rel="stylesheet" href="./../../../templates/tgtu-unit-overview/tgtu-overall-sec-overview/tgtu-overall-sec-overview.css" />
<script src="./../../../templates/tgtu-unit-overview/tgtu-overall-sec-overview/tgtu-overall-sec-overview.js"></script>

<div style="height: 550px;" class="col-md-12 tgtuOverview-tab">
    <div class="row mt-14">
        <div class="col-md-12 col-first text-left">

            <div class="col-md-6">
                <span class="left-box">
                    <span class="col-st">Overall Specific Energy Consumption Trend </span>
                </span>
            </div>
            <div class="col-md-6 text-right">
                <div class="row">

                    <div style="display: inline;" class="col-md-6 text-right"></div>
                    <div style="display: inline;" class="col-md-3 text-right">
                        <span class="from">
                            <span class="input-title text-right">From</span>
                            <input type="datetime-local" id="fromTgtu" name="fromTgtu">
                        </span>
                    </div>
                    <div style="display: inline;" class="col-sm-3 text-right">
                        <span class="to">
                            <span class="input-title ">To</span>
                            <input type="datetime-local" id="toTgtu" name="toTgtu">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-title text-left">
        <div class="row" style="height: 3rem;">
            <div class="col-md-4">
                <div class="col-md-10 col-sb">
                    <span class="actbox osv"> </span>
                    <span class="leg1"> Actual</span>

                    <!-- <div class="col-md-7"> -->
                    <span class="refbox1"></span>

                    <span class="leg">Reference</span>
                    <span class="feedbox"></span>

                    <span class="leg1">Feed Rate</span>
                </div>
                <!-- </div> -->
            </div>

            <div class="col-md-8">

            </div>

        </div>
        <div class="body clearfix chart-body">
            <div class="col-md-12">
                <div class="count-line">
                    <div id="tgtuOverallsecgraph"></div>
                </div>
            </div>
        </div>


    </div>
</div>