.ncu-Overview-tab .left-box .col-st {
    font-size: 1.7vw;
    font-weight: 600;
    color: #d9d9d9;
    font-family: Yu Gothic UI Semibold;
}

.ncu-Overview-tab .leg, .leg1 {
    font-size: 0.9vw;
    color: #d9d9d9;

}

 .ncu-headline {
    font-size: 1.7vw;
    font-weight: 600;
    color: #d9d9d9;
    font-family: Yu Gothic UI Semibold;
    padding: 0px 15px;
}

.ncu-Overview-tab .osv {
    background-color: #e97b31;
    width: 1.8vw;
    height: 0.25vw;
    display: inline-block;
    margin: 0.2vw;
}

.ncu-Overview-tab .refbox1 {
    background-color: #ffc000;
    width: 1.8vw;
    height: 0.25vw;
    padding-left: 1vw;
    display: inline-block;
    margin: 0.2vw;
}

.ncu-Overview-tab .feedbox {
    background-color: #00b0f0;
    width: 0.9vw;
    height: 0.9vw;
    display: inline-block;
    margin: 0vw 0.3vw;
}

.ncu-Overview-tab #ncufromFccu, #ncuoveralldate {
    display: inline-block;
    font-size: 1vw;
    background-color: #26293c;
    border: 1px solid #f2f2f2;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    color: #f2f2f2;
}

.ncu-Overview-tab #ncuoveralldate {
    margin-left: 1.1vw;
}

.ncu-Overview-tab .count-line {
    height: 45vh;
}