
 .ST-equipment-efficiency .box-eff{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
}
.ST-equipment-efficiency .color-eff{   
    font-size: 1vw;
    color: #d9d9d9;
    padding-left: 6px;
}
.ST-equipment-efficiency #str1, #fromstBar, #tostBar {  
    font-size: 0.8vw;
    background-color: #26293c;
    border: 0.1vw solid #f2f2f2;
    padding: 0.1vw;
    border-radius: 0.3vw;
    margin-left: 0.5vw;
    max-width: 12vw;
    cursor: pointer;
    color: #d9d9d9;
}
.ST-equipment-efficiency #STF, #STT {
    font-size: 1vw;
    background-color: #26293c;
    border: 1px solid #f2f2f2;
    padding: 1px;
    border-radius: 5px;
    width: 14vw;
    cursor: pointer;
    color: #d9d9d9;
    margin-left: 20px;
}
.ST-equipment-efficiency .first-spa{
    background-color: #C55B11;
    height: 5px;
    width: 31px;
    display: inline-block;
}

.ST-equipment-efficiency .secd-spa{
    background-color: #D945B4;
    height: 5px;
    width: 31px;
    display: inline-block;
}
.ST-equipment-efficiency .third-spa{
    background-color: #FFA700;
    height: 5px;
    width: 31px;
    display: inline-block;
}
.ST-equipment-efficiency .four-spa{
    background-color: #0896CC;
    height: 5px;
    width: 31px;
    display: inline-block;
}
.ST-equipment-efficiency .five-spa{
    background-color: #08cc12;
    height: 5px;
    width: 31px;
    display: inline-block;
}
.ST-equipment-efficiency .col-rt {
    display: inline-block;
     color: #d9d9d9;
 }
.ST-equipment-efficiency .fuel-PT{
    border-right: 1px solid #d9d9d9;
}
.ST-equipment-efficiency .canvasjs-chart-credit{
    display: none;
   
  }
  .ST-equipment-efficiency table{
    font-family: Yu Gothic UI;
    border-collapse: collapse;
    color: #f2f2f2;
    width: 100%;
}

.ST-equipment-efficiency td
 {
    border-bottom: 1px solid #b2b2b9;
    text-align: center;
    padding: 10px;
    font-size: 1vw;
}
.ST-equipment-efficiency th {
    text-align: center;
    width: 7vw;
    padding: 3px;
    background-color: #442266;
    font-size: 1.1vw;
    font-weight: 500;
    color: #d9d9d9;
    border-right-color: #552d7c;
    border-right-style: solid;
    border-right-width: 1px;
    overflow: auto;
    position: sticky;
    top: 0;
}
.ST-equipment-efficiency  table tr:last-child td{
    border-bottom: 0;
}

.ST-equipment-efficiency .box-yellow{
    background-color: #ffc000;
}

.ST-equipment-efficiency .box-blue{
    background-color: #0895cc;
}

.ST-equipment-efficiency .box-gray{
    background-color:#a5a5a5;
}

.ST-equipment-efficiency .box-pink{
    background-color:#d944b4;
}

.ST-equipment-efficiency .heading_graph{
    color: #d9d9d9;
    font-size: 1.5vw;
    position: relative;
}
.ST-equipment-efficiency .ST-eff-equ{
    background-color: #26293c;
     height: 310px;
}

.ST-equipment-efficiency .two-tab{
    height:46rem;
}
.ST-equipment-efficiency .fuel-card{
    background-color: #26293c;
     height: 310px;
}

.ST-equipment-efficiency .two-tab-eff{
    background-color: #26293c;
}

/* scrollbar css */

.ST-equipment-efficiency .card .overflow {
    overflow: auto;
}

.ST-equipment-efficiency .card .genratorsHeight {
    height: 16.5vw;
    padding-right: 0.5vw;
}

.ST-equipment-efficiency .card  .scroll {
    width: 40%;
    height: 280px;
    overflow: auto;
}

.ST-equipment-efficiency .card  ::-webkit-scrollbar {
    width: 0.3vw;
    height: 0.3vw;
}

.ST-equipment-efficiency .card  ::-webkit-scrollbar-track {
    border: 1px solid #262A3C;
    border-radius: 15px;
}

.ST-equipment-efficiency .card  ::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 15px;
}

.ST-equipment-efficiency .card  ::-webkit-scrollbar-thumb:hover {
    background: #d9d9d9;
}
.ST-equipment-efficiency #str1, #fromstBar, #tostBar{  
    font-size: 0.7vw;
    background-color: #26293c;
    border: 0.1vw solid #f2f2f2;
    padding: 0.1vw;
    border-radius: 0.3vw;
    margin-left: 0.5vw;
    max-width: 9.6vw;
    cursor: pointer;
    color: #d9d9d9;
    margin-top: 12px;
}
