.
<script src="./../../templates/dashboard/dashboard.js"></script>
<link rel="stylesheet" href="../../templates/dashboard/dashboard.css" />
<main>
    <div class="homeDiv">
        <div class="row">
            <div class="col-md-12 summary-heading">
                <div class="col-md-12">
                    <span class="heading-item">
                        <span class="label" style="padding: 0;">Total Naphtha Processed &nbsp;:&nbsp;</span>
                        <span class="count" id="totalThroughput"></span> <span class="unit"> MT/Day</span>
                    </span>
                    <span class="heading-item">
                        <span class="label">CPP Power &nbsp;:&nbsp;</span>
                        <span class="count" id="Power"></span> <span class="unit"> MW</span>
                    </span>
                    <span class="heading-item">
                        <span class="label">CPP Steam &nbsp;:&nbsp;</span>
                        <span class="count" id="Steam"></span> <span class="unit"> TPH</span>
                    </span>
                    <span class="heading-item">
                        <span class="label">Renewable Power &nbsp;:&nbsp;</span>
                        <span class="count" id="Renepower"></span> <span class="unit"> MW</span>
                    </span>
                    <span class="heading-item pull-right">
                        <span class="label">Last Updated Timestamp &nbsp;:</span>
                        <span class="count" id="homeTime"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" id="horizontal-tiles"></div>
        <div class="row">
            <div class="col-md-8 card-col mt-14">
                <div class="col-md-12 pr-0">
                    <div class="card">
                        <div class="chart-title title">
                            <div class="row">
                                <div class="col-md-12 col-first">
                                    <div class="col-md-6 col-one">
                                        <span class="input-title" style="color: #26293c;">Trend</span>
                                        <div class="row">
                                            <span class="firstbox"> </span>
                                            <span class="first-box-title" id="first-box-title"
                                                style="display: inline-flex;">Specific Energy Consumption
                                                </span>
                                            <div style="display: inline-flex;">
                                                <span class="secondbox"></span>
                                                <span class="second-box-title">&nbsp;Actual Production<span
                                                        class="in-title">(MT/Day)</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-two">
                                        <span class="trend">
                                            <span class="input-title">Trend</span>
                                            <div style="display: inline-flex;">
                                                <select name="s1" id="r1">


                                                    <option value="TOE/MT of Actual Production" label="Specific Energy Consumption"selected></option>
                                                    <option value="TOE/hr" label="Total Energy Consumed"></option>
                                                   
                                                    <option value="Ton/hr" label="GHG Emission (tCO2e)"></option>

                                                </select>
                                        </span>

                                        <span class="from">

                                            <input type="datetime-local" id="fromHome1" name="fromHome">
                                        </span>
                                        <span class="to">
                                            <input type="datetime-local" id="homeEms1" name="homeEms">
                                            <!-- <select name="homeEms" id="homeEms1">
                                                <option value="1"> 1 Day</option>
                                                <option value="7"> 7 Days</option>
                                                <option value="15"> 15 Days</option>
                                                <option value="30"> 30 Days</option>
                                            </select> -->
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line text-left">
                        <span class="axis"> Primary Axis Trends :</span>&nbsp;&nbsp;
                        <select id="chartType1data" name="Chart Type1">
                            <option value="spline">Line</option>
                            <option value="column">Bar</option>
                        </select>
                       
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="axis"> Secondary Axis Trends :</span>&nbsp;&nbsp;
                        <select id="chartTypedata" name="Chart Type">
                            <option value="column">Bar</option>
                            <option value="spline">Line</option>
                        </select>
                    </div>
                    <div class="body">
                        <div class="count-line">
                            <div class="col-md-12">
                                <div id="chartContainer" style="height: 40vh;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 pl-7" id="sec-distribution">

        </div>
    </div>
    </div>
</main>