/* Row Title Related CSS */

.card .title .col-md-2 #Ton {
    margin: 18px -5px;
}

.card .title .in-title {
    font-weight: 200;
    font-size: 0.8vw;
}

.second-box-title {
    font-size: 1vw;
}

.card .title .col-md-2 #Gcal {
    margin: 15px 5px;
}

.canvasjs-chart-credit {
    display: none;
}

.homeDiv .first-box-title1 {
    font-size: 1.2vw;
}

.card .chart-title.title .first-box-title {
    font-size: 1vw;
}

.chart-title.title .col-first>span {
    display: inline-block;
    font-size: 1vw;
}

#r1, #chartTypedata, #chartType1data {
    font-size: 0.8vw;
    background-color: #26293c;
    border: 0.1vw solid #f2f2f2;
    padding: 0.1vw;
    border-radius: 0.3vw;
    margin-left: 0.5vw;
    max-width: 9.5vw;
    cursor: pointer;
    color: #d9d9d9;
}

#homeEms1 {
    /* padding: 0.25vw; */
    color: #f2f2f2;
}

#r1, #homeEms1, #fromHome1 {
    max-width: 10.3vw;
    cursor: pointer;
    font-size: 0.7vw;
    padding: 0.2vw 0;
    color: #f2f2f2;
    margin-left: 0.5vw;
}


.second-box-title {
    font-size: 1vw;
}

.card .chart-title.title .firstbox {
    background-color: #ee7733;
    width: 1.5vw;
    height: 0.2vw;
    padding-left: 1vw;
    display: inline-block;
    margin-bottom: 0.3vw;
    margin-right: 0.4vw;
}

.line {
    padding: 0.8vw 0.5vw;
}

.axis {
    font-size: 1vw;
    color: #d9d9d9;
}

.summary-heading .heading-item .label {
    font-size: 1.1vw;
    font-weight: normal;
    color: #d9d9d9;
}

.chart-title.title .col-first .input-title {
    font-size: 0.8vw;
    margin-left: 0.5vw;
}

.summary-heading .heading-item .count {
    font-size: 1.2vw;
    color: #f2f2f2;
}

.summary-heading .heading-item .unit {
    font-size: 0.7vw;
    color: #d9d9d9;
}

.homeDiv .card .body .count-line {
    height: 48vh;
}
.homeDiv .card #chartContainer{
    height: 44vh;
}
@media (max-width: 992px) {
    #r1, #homeEms1, #fromHome1 {
        max-width: 9vw;
        padding: 0.1vw 0;
        margin-left: 0.2vw;
    }
}
