#tgtu-equipment-overview .title .col-ty{
    padding-right: 0px;
    padding-left: 0px;
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 1px;
}
#tgtu-equipment-overview .col-st{
    font-size: 17px;
}
#tgtu-equipment-overview .title .col-sb{
    width: 12rem;
    padding-right: 0px;
    padding-left: 25px;
}
#tgtu-equipment-overview .title .box-eff{
width: 20px;
height: 15px;
display: inline-block;
}
#tgtu-equipment-overview .title .box1-blue{
    background-color:#0896CC;
}
#tgtu-equipment-overview .box1-yellow{
    background-color: #FFC100;
}
#tgtu-equipment-overview .title .col-ref{
    width: 12rem;
        padding-right: 10px;
        padding-left: 5px;
    }
    #tgtu-equipment-overview .title .color-eff{
        font-size: 13px; 
        color: whitesmoke;
        padding-left: 6px;
    }
    #tgtu-horizontal-tiles .card .body .count-line {
        height: 30rem;
    }
    #tgtu-equipment-overview .actbox {
        background-color: #C55B11;
        width: 25px;
        height: 4px;
        padding-left: 20px;
        display: inline-block;
        margin-bottom: 3px;
        margin-right: 5px;
    }
    #tgtu-equipment-overview .leg{
        font-size: 17px;
    }
    #tgtu-equipment-overview .refbox {
        background-color: #D945B4;
        width: 25px;
        height: 4px;
        padding-left: 20px;
        display: inline-block;
        margin-bottom: 3px;
        margin-right: 5px;
    }
    #tgtu-equipment-overview .main-head{
        font-size: 21px;
    color: #d9d9d9;
    font-weight: 500;
    padding: 15px;
    }
    
    #tgtu-equipment-overview .left-box{
        font-size: 22px;
    }

    #tgtu-equipment-overview input {
        font-size: 10px;
        background-color: #26293c;
        border: 1px solid #f2f2f2;
        margin-left: 10px;
        border-radius: 5px;
        max-width: 149px;
        cursor: pointer;
        color: #d9d9d9;
        float: right;
    }
    #tgtu-equipment-overview .col-tb{
        height: 47rem;
        
        border-left-color: #6c6f7e;
        border-left-style: solid;
        border-left-width: 2px;
    }
    #tgtu-equipment-overview .dropdown {
        position: relative;
      
    }
    #tgtu-equipment-overview .btn {
        background-color: #26293c;
        border-color: lightgray;
        line-height: 0.428571;
        width: 130px;
        text-align: left;
    }
    #tgtu-equipment-overview .btn .caret {
    float: right;
    }        
    #tgtu-equipment-overview table {
        border-collapse: collapse;
        width: 100%;
    }
    
    #tgtu-equipment-overview td, th {
        text-align: left;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #tgtu-equipment-overview td {
        border-left: none;
        border-right: none;
        color: lightgray;
        border-bottom: 1px solid lightgray;
    }
    
    #tgtu-equipment-overview th {
        background-color: #432b64;
        color: lightgray;
    
    }
    #tgtu-equipment-overview table tr:last-child td {
        border-bottom: 0;
      }
      #tgtu-equipment-overview .hydro-tab{
        text-align: end;
    }