.Email-notification table {
  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  overflow: scroll;
}

.Email-notification th {
  background-color: #432b64;
  color: #d9d9d9;
  font-weight: normal;
  padding: 15px;
  top: 0;
  position: sticky;
}

.Email-notification td {
  border-left: none;
  border-right: none;
  color: #d9d9d9;
  text-align: left;
  border-bottom: 1px solid #686a77;
  padding: 15px;
}

.Email-notification .btn-primary {
  background-color: #432b64;
  border: #432b64;
  margin: 0.5vw;
}
.Email-notification .textchanges{
  font-size: 0.8vw;
  color: red;
  font-weight: 600;
}
.Email-notification .btn-primary:hover {
  background-color: #2a1b3f;

}

.Email-notification .scroll {
  width: 40%;
  height: 280px;

}

.Email-notification .genratorsHeight {
  height: 73vh;
  overflow: auto;
}


.Email-notification ::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

.Email-notification ::-webkit-scrollbar-track {
  border: 1px solid #262A3C;
  border-radius: 15px;
}

.Email-notification ::-webkit-scrollbar-thumb {
  background: #8d8a95;
  border-radius: 15px;
}

.Email-notification ::-webkit-scrollbar-thumb:hover {
  background: #8d8a95;
}
.Email-notification table .btnRow {
  background: #432b64;
  border: none;
  border-radius: 5px;
  padding: 0.3vw 2vw;
  /* flex-basis: initial; */
  color: #FFFFFF;
}
/* model  */
.Email-notification .modal .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.Email-notification .modal .modal-content {
  background-color: #fefefe;
  margin: 14vw 27vw;
  padding: 1vw;
  box-shadow: none;
  border: 2px solid #432b64;
  border-radius: 10px;
}

.Email-notification .modal .dropdown-menu {
  max-height: 20rem;
  overflow-y: auto;
  max-width: 100%;
  text-align: start;
}

.Email-notification .modal #closeaddemail, #upcloseaddemail {
  color: #432b64;
  font-size: 2.5vw;
  opacity: 1;
  background: none;
  height: 1vw;
  border: none;
  float: right;
}

.Email-notification .modal .textstyle {
  font-size: 1vw;
  color: #000000;
  font-weight: 600;
}

.Email-notification .form-control {
  height: 2vw;
  padding: 0.3vw;
  font-size: 0.9vw;
  text-align: start;
}

.Email-notification .modal .header {
  font-size: 1.5vw;
  font-weight: bold;
}

.Email-notification .addbtn {
  margin: 0vw 18vw;
  background: #432b64;
  border: none;
  border-radius: 5px;
  padding: 0.3vw 2vw;
  /* flex-basis: initial; */
  color: #FFFFFF;
}