#fuel-tab .card .title .main-title {
    font-size: 1.5vw;
    text-align: center;
    color: #d9d9d9;
}

#fuel-tab .card .title .sub-title {
    font-size: 1vw;
    text-align: center;
    height: auto;
    margin: 0;
    color: #d9d9d9;
}

#fuel-tab .col-rr {
    font-size: 1.1vw;
    color: #d9d9d9;
}

#fuel-tab .lebel-style {
    display: inline-block;
    font-size: 0.9vw;
    font-weight: 100;
    color: #d9d9d9;
}

#fuel-tab .second-box-title {
    font-size: 1.1vw;
}

#fuel-tab .in-title {
    font-weight: 200;
    font-size: 0.6vw;
}

#fuel-tab .line {
    padding: 0.8vw 0.5vw;
}

#fuel-tab .axis {
    font-size: 1vw;
    color: #d9d9d9;
}

#fuel-tab #chartType, #chartType1, #PNCfuelto {
    font-size: 0.8vw;
    background-color: #26293c;
    border: 0.1vw solid #f2f2f2;
    padding: 0.1vw;
    border-radius: 0.3vw;
    margin-left: 0.5vw;
    max-width: 12vw;
    cursor: pointer;
    color: #d9d9d9;
}

#fuel-tab .card .fuel-title {
    display: inline-flex;
    font-size: 1vw;
    padding: 0 1vw;
}

#fuel-tab .card .body .count {
    text-align: center;
    font-size: 3vw;
    color: #f2f2f2;
    padding-top: 1.75vh;
    padding-bottom: 1.27vh;
    font-weight: 600;
}

#fuel-tab .card .footer .ref {
    color: #d9d9d9;
    font-size: 1vw;
    display: inline-block;
    padding: 0vw 0vw;
}

#fuel-tab #ref_fuel1, #ref_fuel2 {
    color: #f2f2f2;
    font-size: 1.1vw;
}

#fuel-tab .card .footer .result {
    color: #f2f2f2;
    font-size: 1.2vw;
    padding: 0vw 0.9vw;
    border-radius: 5px;
    display: inline-block;
}

#fuel-tab .card .footer .result.red {
    background-color: #ff0000;
}

#fuel-tab .card .footer .result.green {
    background-color: #00b050;
}

#fuel-tab .card .body .count-line {
    height: 69.9vh;
}

#fuel-tab .canvasjs-chart-credit {
    display: none;
}

#fuel-tab .card .title .col-md-2 #Ton {
    margin: 18px -5px;
}

#fuel-tab .card .title .col-md-2 #Gcal {
    margin: 15px 5px;
}

#fuel-tab .chart-title.title .col-first>span {
    display: inline-block;
    font-size: 1.1vw;
}

#fuel-tab .dropto {
    font-size: 1vw;
    padding: 1px;
    width: 5vw;
}

#fuel-tab #PNCfuelfrom {
    font-size: 0.8vw;
    background-color: #26293c;
    border: 0.1vw solid #f2f2f2;
    padding: 2px;
    border-radius: 0.3vw;
    margin-left: 0.3vw;
    max-width: 12vw;
    cursor: pointer;
    color: #d9d9d9;
}

#fuel-tab .count-line1 {
    height: 10vw;
}

#fuel-tab input[type=radio] {
    margin: 4px 2px 0px 5px;
}

#fuel-tab .chart-legends .legend {
    padding: 5px 0px;
    display: inline-block;
    PADDING-BOTTOM: 0;
}

#fuel-tab .chart-legends .legend .legend-circle {
    height: 0.7vw;
    width: 0.7vw;
    border-radius: 0.4vw;
    display: inline-block;
}

#fuel-tab .chart-legends .legend .legend-circle.legend-solid {
    background-color: #ffa600;
}

#fuel-tab .chart-legends .legend .legend-circle.legend-liquid {
    background-color: #00aa7e;
}

#fuel-tab .chart-legends .legend .legend-circle.legend-gas {
    background-color: #005374;
}

#fuel-tab .chart-legends .legend .legend-text {
    color: #d9d9d9;
    padding-left: 0.2vw;
    font-size: 0.8vw;
    padding-right: 0.6vw;
}

#fuel-tab #doughnutChart {
    height: 14vh;
}

@media only screen and (max-width: 992px) and (max-width:999px) {
    #fuel-tab .count-line1 {
        height: 20vh;
    }

    #fuel-tab .card .body .count {
        padding: 3.7vh 0;
    }

    #fuel-tab .card .fuel-title {
       padding: 0;
    }
}