 .GT-equipment-efficiency .box-eff{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
}

.GT-equipment-efficiency .color-eff{
    font-size: 1vw;
    color: #d9d9d9;
    padding-left: 6px; 
}
.GT-equipment-efficiency .eff-act{
    padding-top: 3px;
}
 
  .GT-equipment-efficiency .box-yellow{
    background-color: #ffc000;
}

.GT-equipment-efficiency .box-blue{
    background-color: #0895cc;
}

.GT-equipment-efficiency h4{
    color: #d9d9d9;
    font-size: 1.5vw;
    position: relative;
    left: 10px;
}
.GT-equipment-efficiency .GT-eff-equ{
    background-color: #26293c;
    height: 320px;
}

.GT-equipment-efficiency .GT-tab{
    height:46rem;
}
.GT-equipment-efficiency .GT-table-eff{
    background-color: #26293c;
    margin-top: 14px;
}

.GT-equipment-efficiency table{
    font-family: Yu Gothic UI;
    border-collapse: collapse;
    color: #f2f2f2;
    width: 100%;
}

.GT-equipment-efficiency td
 {
    border-bottom: 1px solid #b2b2b9;
    text-align: center;
    padding: 10px;
    font-size: 1vw;
}
.GT-equipment-efficiency th {
    text-align: center;
    padding: 3px;
    background-color: #442266;
    font-size: 1.1vw;
    font-weight: 500;
    color: #d9d9d9;
    border-right-color: #552d7c;
    border-right-style: solid;
    border-right-width: 1px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: auto;
}
.GT-equipment-efficiency table tr:last-child td{
    border-bottom: 0;
}
.GT-equipment-efficiency #fromST{
    float: right;
}

/* graph */

.GT-equipment-efficiency input {
    font-size: 1vw;
    background-color: #26293c;
    border: 1px solid #f2f2f2;
    padding: 1px;
    border-radius: 5px;
    width: 16vw;
    cursor: pointer;
    color: #d9d9d9;
    margin-left: 20px;
}
.GT-equipment-efficiency .first-box-title{
    color: #d9d9d9;
    font-size: 1.5vw;
}
.GT-equipment-efficiency .first-spa{
    background-color: #C55B11;
    height: 5px;
    width: 31px;
    display: inline-block;
}
.GT-equipment-efficiency .secd-spa{
    background-color: #D945B4;
    height: 5px;
    width: 31px;
    display: inline-block;
}
.GT-equipment-efficiency .third-spa{
    background-color: #FFA700;
    height: 5px;
    width: 31px;
    display: inline-block;
}
.GT-equipment-efficiency .four-spa{
    background-color: #0896CC;
    height: 5px;
    width: 31px;
    display: inline-block;
}
.GT-equipment-efficiency .five-spa{
    background-color: #08cc12;
    height: 5px;
    width: 31px;
    display: inline-block;
}
.GT-equipment-efficiency .col-rt {
   display: inline-block;
    color: #d9d9d9;
}

.GT-equipment-efficiency .col-tr{
    display: inline-flex;
    padding-top: 10px;
}
.GT-equipment-efficiency .fuel-card{
    background-color: #26293c;
     height: 320px;
}

/* scrollbar css */

.GT-equipment-efficiency .card .overflow {
    overflow: auto;
}

.GT-equipment-efficiency .card .genratorsHeight {
    height: 16vw;
    padding-right: 0.5vw;
}

.GT-equipment-efficiency .card .customerHeight {
    height: 22rem;
}

.GT-equipment-efficiency .card  .scroll {
    width: 40%;
    height: 280px;
    overflow: auto;
}

.GT-equipment-efficiency .card  ::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

.GT-equipment-efficiency .card  ::-webkit-scrollbar-track {
    border: 1px solid #262A3C;
    border-radius: 15px;
}

.GT-equipment-efficiency .card  ::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 15px;
}

.GT-equipment-efficiency .card  ::-webkit-scrollbar-thumb:hover {
    background: #d9d9d9;
}
.GT-equipment-efficiency #gtr1, #fromgtBar, #togtBar{  
    font-size: 0.7vw;
    background-color: #26293c;
    border: 0.1vw solid #f2f2f2;
    padding: 0.1vw;
    border-radius: 0.3vw;
    margin-left: 0.5vw;
    max-width: 9.6vw;
    cursor: pointer;
    color: #d9d9d9;
}